<h2><strong>Enforcing Contracts methodology</strong></h2>
<p>
  <em>Doing Business </em>measures the time and cost for resolving a commercial
  dispute through a local first-instance court and the quality of judicial
  processes index, evaluating whether each economy has adopted a series of good
  practices that promote quality and efficiency in the court system. The data
  are collected through study of the codes of civil procedure and other court
  regulations as well as questionnaires completed by local litigation lawyers
  and judges. The ranking of economies on the ease of enforcing contracts is
  determined by sorting their scores for enforcing contracts. These scores are
  the simple average of the scores for each of the component indicators.
</p>
<h4><strong>Efficiency of resolving a commercial dispute</strong></h4>
<p>
  The data on time and cost are built by following the step-by-step evolution of
  a commercial sale dispute. The data are collected for a specific court for
  each city covered, under the assump­tions about the case described below. The
  “competent court” is the one with jurisdiction over disputes worth 200% of
  income per capita or $5,000, which­ever is greater. Whenever more than one
  court has original jurisdiction over a case comparable to the standardized
  case study, the data are collected based on the court that would be used by
  liti­gants in the majority of cases. The name of the relevant court in each
  economy is published on the <em>Doing Business </em>website at
  http://www.doingbusiness.org/data /exploretopics/enforcing-contracts. For the
  11 economies for which the data are also collected for the second largest
  busi­ness city, the name of the relevant court in that city is given as well.
</p>
<h4><strong>Assumptions about the case</strong></h4>
<ul>
  <li>
    The value of the claim is equal to 200% of the economy’s income per capita
    or $5,000, whichever is greater.
  </li>
  <li>
    The dispute concerns a lawful trans­action between two businesses (Seller
    and Buyer), both located in the economy’s largest business city. For 11
    economies the data are also collected for the second largest busi­ness city.
    Pursuant to a contract between the businesses, Seller sells some custom-made
    furniture to Buyer worth 200% of the economy’s income per capita or $5,000,
    whichever is greater. After Seller delivers the goods to Buyer, Buyer
    refuses to pay the contract price, alleging that the goods are not of
    adequate quality. Because they were custom-made, Seller is unable to sell
    them to anyone else.
  </li>
  <li>
    Seller (the plaintiff) sues Buyer (the defendant) to recover the amount
    under the sales agreement. The dispute is brought before the court located
    in the economy’s largest business city with jurisdiction over commercial
    cases worth 200% of income per capita or $5,000, whichever is greater. As
    noted, for 11 economies the data are also collected for the second largest
    business city.
  </li>
  <li>
    At the outset of the dispute, Seller decides to attach Buyer’s movable
    assets (for example, office equipment and vehicles) because Seller fears
    that Buyer may hide its assets or otherwise become insolvent.
  </li>
  <li>
    The claim is disputed on the merits because of Buyer’s allegation that the
    quality of the goods was not adequate. Because the court cannot decide the
    case on the basis of docu­mentary evidence or legal title alone, an expert
    opinion is given on the quality of the goods. If it is standard practice in
    the economy for each party to call its own expert witness, the parties each
    call one expert witness. If it is standard practice for the judge to appoint
    an independent expert, the judge does so. In this case the judge does not
    allow opposing expert testimony.
  </li>
  <li>
    Following the expert opinion, the judge decides that the goods deliv­ered by
    Seller were of adequate quality and that Buyer must pay the contract price.
    The judge thus renders a final judgment that is 100% in favor of Seller.
  </li>
  <li>
    Buyer does not appeal the judgment. Seller decides to start enforcing the
    judgment as soon as the time allowed by law for appeal lapses.
  </li>
  <li>
    Seller takes all required steps for prompt enforcement of the judgment. The
    money is successfully collected through a public sale of Buyer’s movable
    assets (for example, office equipment and vehicles). It is assumed that
    Buyer does not have any money on her/his bank account, making it impossible
    for the judgment to be enforced through a seizure of the Buyer’s accounts.
  </li>
</ul>
<h4><strong>Time</strong></h4>
<p>
  Time is recorded in calendar days, counted from the moment Seller decides to
  file the lawsuit in court until payment. This includes both the days when
  actions take place and the waiting periods in between. The average duration of
  the following three different stages of dispute resolution is recorded: (i)
  filing and service; (ii) trial and judgment; and (iii) enforcement. Time is
  recorded considering the case study assumptions detailed above and only as
  applicable to the competent court. Time is recorded in practice, regardless of
  time limits set by law if such time limits are not respected in the majority
  of cases.
</p>
<p>The filing and service phase includes:</p>
<ul>
  <li>
    The time for Seller to try and obtain payment out of court through a
    non-litigious demand letter, including the time to prepare the letter and
    the deadline that would be provided to Buyer to comply.
  </li>
  <li>
    The time necessary for a local lawyer to write the initial complaint and
    gather all supporting documents needed for filing, including authentication
    or notarization of them, if required.
  </li>
  <li>The time necessary to file the complaint at the court.</li>
  <li>
    The time necessary for Buyer to be served, including the processing time at
    the court and the waiting periods between unsuccessful attempts if more than
    one attempt is usually required.
  </li>
</ul>
<p>The trial and judgment phase includes:</p>
<ul>
  <li>
    The time between the moment the case is served on Buyer and the moment a
    pre-trial conference is held, if such pre-trial conference is part of the
    case management techniques used by the competent court.
  </li>
  <li>
    The time between the pre-trial conference and the first hearing, if a
    pre-trial conference is part of the case management techniques used by the
    competent court. If not, the time between the moment the case is served on
    Buyer and the moment the first hearing is held.
  </li>
  <li>
    The time to conduct all trial activities, including exchanges of briefs and
    evidence, multiple hearings, waiting times in between hearings and obtaining
    an expert opinion.
  </li>
  <li>
    The time necessary for the judge to issue a written final judgment once the
    evidence period has closed.
  </li>
  <li>The time limit for appeal.</li>
</ul>
<p>The enforcement phase includes:</p>
<ul>
  <li>
    The time it takes to obtain an enforceable copy of the judgment and contact
    the relevant enforce­ment office.
  </li>
  <li>
    The time it takes to locate, identify, seize and transport the losing
    party’s movable assets (including the time necessary to obtain an order from
    the court to attach and seize the assets, if applicable).
  </li>
  <li>
    The time it takes to advertise, orga­nize and hold the auction. If more than
    one auction would usually be required to fully recover the value of claim in
    a case comparable to the standardized case study, then the time between
    multiple auction attempts is recorded.
  </li>
  <li>
    The time it takes for the winning party to fully recover the value of the
    claim once the auction is successfully completed.
  </li>
</ul>
<h4><strong>Cost</strong></h4>
<p>
  Cost is recorded as a percentage of the claim value, assumed to be equiva­lent
  to 200% of income per capita or $5,000, whichever is greater. Three types of
  costs are recorded: average attorney fees, court costs and enforce­ment costs.
</p>
<p>
  Average attorney fees are the fees that Seller (plaintiff) must advance to a
  local attorney to represent Seller in the standardized case, regardless of
  final reimbursement. Court costs include all costs that Seller (plaintiff)
  must advance to the court, regardless of the final cost borne by Seller. Court
  costs include the fees that the parties must pay to obtain an expert opinion,
  regardless of whether they are paid to the court or to the expert directly.
  Enforcement costs are all costs that Seller (plaintiff) must advance to
  enforce the judgment through a public sale of Buyer’s movable assets,
  regard­less of the final cost borne by Seller. Bribes are not taken into
  account.
</p>
<h4><strong>Quality of Judicial Processes</strong></h4>
<p>
  The quality of judicial processes index measures whether each economy has
  adopted a series of good practices in its court system in four areas: court
  struc­ture and proceedings, case management, court automation and alternative
  dispute resolution.
</p>
<h4><strong>Court structure and proceedings index</strong></h4>
<p>The court structure and proceedings index has five components:</p>
<ul>
  <li>
    Whether a specialized commercial court, section or division dedicated solely
    to hearing commercial cases is in place. A score of 1.5 is assigned if yes;
    0 if no.
  </li>
  <li>
    Whether a small claims court and/or a fast-track procedure for small claims
    is in place. A score of 1 is assigned if such a court or procedure is in
    place, it is applicable to all civil cases and the law sets a cap on the
    value of cases that can be handled through this court or procedure. The
    point is assigned only if this court applies a simplified procedure or if
    the procedure for small claims is simplified. An additional score of 0.5 is
    assigned if parties can represent themselves before this court or during
    this procedure. If no small claims court or fast-track procedure is in
    place, a score of 0 is assigned.
  </li>
  <li>
    Whether plaintiffs can obtain pretrial attachment of the defendant’s movable
    assets if they fear the assets may be moved out of the jurisdiction or
    otherwise dissipated. A score of 1 is assigned if yes; 0 if no.
  </li>
  <li>
    Whether cases are assigned randomly and automatically to judges throughout
    the competent court. A score of 1 is assigned if the assignment of cases is
    random and automated; 0.5 if it is random but not automated; 0 if it is
    neither random nor automated.
  </li>
  <li>
    Whether a woman’s testimony carries the same evidentiary weight in court as
    a man’s. A score of -1 is assigned if the law differentiates between the
    evidentiary value of a woman’s testi­mony and that of a man in any type of
    civil case, including family cases; 0 if it does not.
  </li>
</ul>
<p>
  The index ranges from -1 to 5, with higher values indicating a more
  sophisticated and streamlined court structure. In Bosnia and Herzegovina, for
  example, a special­ized commercial court is in place (a score of 1.5), and
  small claims can be resolved through a dedicated division in which
  self-representation is allowed (a score of 1.5). Plaintiffs can obtain
  pretrial attach­ment of the defendant’s movable assets if they fear
  dissipation during trial (a score of 1). Cases are assigned randomly through
  an electronic case manage­ment system (a score of 1). A woman’s testimony
  carries the same evidentiary weight in court as a man’s (a score of 0). Adding
  these numbers gives Bosnia and Herzegovina a score of 5 on the court structure
  and proceedings index.
</p>
<h4><strong>Case management index</strong></h4>
<p>The case management index has six components:</p>
<ul>
  <li>
    Whether any of the applicable laws or regulations on civil procedure contain
    time standards for at least three of the following key court events: (i)
    service of process; (ii) first hearing; (iii) filing of the statement of
    defense; (iv) completion of the evidence period; (v) filing of testimony by
    expert; and (vi) submission of the final judgment. A score of 1 is assigned
    if such time standards are available and respected in more than 50% of
    cases; 0.5 if they are available but not respected in more than 50% of
    cases; 0 if there are time standards for less than three of these key court
    events or for none.
  </li>
  <li>
    Whether there are any laws regulating the maximum number of adjourn­ments or
    continuances that can be granted, whether adjournments are limited by law to
    unforeseen and exceptional circumstances and whether these rules are
    respected in more than 50% of cases. A score of 1 is assigned if all three
    conditions are met; 0.5 if only two of the three conditions are met; 0 if
    only one of the conditions is met or if none are.
  </li>
  <li>
    Whether there are any publicly available performance measurement reports
    about the competent court to monitor the court’s performance, to track the
    progress of cases through the court and to ensure compliance with
    established time standards. A score of 1 is assigned if at least two of the
    following four reports are made publicly avail­able: (i) time to disposition
    report (measuring the time the court takes to dispose/adjudicate its cases);
    (ii) clearance rate report (measuring the number of cases resolved versus
    the number of incoming cases); (iii) age of pending cases report (providing
    a snapshot of all pending cases according to case type, case age, last
    action held and next action scheduled); and (iv) single case progress report
    (providing a snapshot of the status of one single case). A score of 0 is
    assigned if only one of these reports is available or if none are.
  </li>
  <li>
    Whether a pretrial conference is among the case management tech­niques used
    in practice before the competent court and at least three of the following
    issues are discussed during the pretrial conference: (i) scheduling
    (including the time frame for filing motions and other docu­ments with the
    court); (ii) case complexity and projected length of trial; (iii)
    possibility of settlement or alternative dispute resolution; (iv) exchange
    of witness lists; (v) evidence; (vi) jurisdiction and other procedural
    issues; and (vii) narrowing down of contentious issues. A score of 1 is
    assigned if a pretrial confer­ence in which at least three of these events
    are discussed is held within the competent court; 0 if not.
  </li>
  <li>
    Whether judges within the compe­tent court can use an electronic case
    management system for at least four of the following purposes: (i) to access
    laws, regulations and case law; (ii) to automatically generate a hearing
    schedule for all cases on their docket; (iii) to send notifications (for
    example, e-mails) to lawyers; (iv) to track the status of a case on their
    docket; (v) to view and manage case documents (briefs, motions); (vi) to
    assist in writing judgments; (vii) to semi automatically generate court
    orders; and (viii) to view court orders and judgments in a particular case.
    A score of 1 is assigned if an electronic case management system is
    available that judges can use for at least four of these purposes; 0 if not.
  </li>
  <li>
    Whether lawyers can use an elec­tronic case management system for at least
    four of the following purposes: (i) to access laws, regulations and case
    law; (ii) to access forms to be submitted to the court; (iii) to receive
    notifications (for example, e-mails); (iv) to track the status of a case;
    (v) to view and manage case documents (briefs, motions); (vi) to file briefs
    and documents with the court; and (vii) to view court orders and deci­sions
    in a particular case. A score of 1 is assigned if an electronic case
    management system that lawyers can use for at least four of these purposes
    is available; 0 if not.
  </li>
</ul>
<p>
  The index ranges from 0 to 6, with higher values indicating a more qualitative
  and efficient case management system. In Australia, for example, time
  standards for at least three key court events are established in applicable
  civil proce­dure instruments and are respected in more than 50% of cases (a
  score of 1). The law stipulates that adjournments can be granted only for
  unforeseen and exceptional circumstances and this rule is respected in more
  than 50% of cases (a score of 0.5). A time disposition report, a clearance
  rate report and an age of pending cases report can be generated about the
  competent court (a score of 1). A pretrial conference is among the case
  management techniques used before the District Court of New South Wales (a
  score of 1). An electronic case management system satisfying the criteria
  outlined above is available to judges (a score of 1) and to lawyers (a score
  of 1). Adding these numbers gives Australia a score of 5.5 on the case
  management index, the highest score attained by any economy on this index.
</p>
<h4><strong>Court automation index</strong></h4>
<p>The court automation index has four components:</p>
<ul>
  <li>
    Whether the initial complaint can be filed electronically through a
    dedicated platform (not e-mail or fax) within the competent court. A score
    of 1 is assigned if such a platform is available and litigants are not
    required to follow up with a hard copy of the complaint; 0 if not.
    Electronic filing is acknowl­edged regardless of the percentage of users, as
    long as no additional in-person interactions are required, and local experts
    have used it enough to be able to confirm that it is fully functional.
  </li>
  <li>
    Whether the initial complaint can be served on the defendant
    electroni­cally, through a dedicated system or by e-mail, fax or short
    message service (SMS), for cases filed before the competent court. A score
    of 1 is assigned if electronic service is avail­able and no further service
    of process is required; 0 if not. Electronic service is acknowledged
    regardless of the percentage of users, as long as no additional in-person
    interactions are required, and local experts have used it enough to be able
    to confirm that it is fully functional.
  </li>
  <li>
    Whether court fees can be paid elec­tronically for cases filed before the
    competent court, either through a dedicated platform or through online
    banking. A score of 1 is assigned if fees can be paid electronically and
    litigants are not required to follow-up with a hard copy of the receipt or
    produce a stamped copy of the receipt; 0 if not. Electronic payment is
    acknowledged regardless of the percentage of users, as long as no additional
    in-person interactions are required, and local experts have used it enough
    to be able to confirm that it is fully functional.
  </li>
  <li>
    Whether judgments rendered by local courts are made available to the general
    public through publication in official gazettes, in newspapers or on the
    internet. A score of 1 is assigned if judgments rendered in commercial cases
    at all levels are made avail­able to the general public; 0.5 if only
    judgments rendered at the appeal and supreme court level are made available
    to the general public; 0 in all other instances. No points are awarded if
    judgments need to be indi­vidually requested from the court, or if the case
    number or parties’ details are required in order to obtain a copy of a
    judgment.
  </li>
</ul>
<p>
  The index ranges from 0 to 4, with higher values indicating a more automated,
  efficient and transparent court system. In Estonia, for example, the initial
  summons can be filed online (a score of 1), it can be served on the defendant
  electronically (a score of 1), and court fees can be paid electronically as
  well (a score of 1). In addition, judgments in commercial cases at all levels
  are made publicly available through the internet (a score of 1). Adding these
  numbers gives Estonia a score of 4 on the court automation index.
</p>
<h4><strong>Alternative dispute resolution index</strong></h4>
<p>The alternative dispute resolution index has six components:</p>
<ul>
  <li>
    Whether domestic commercial arbi­tration is governed by a consolidated law
    or consolidated chapter or section of the applicable code of civil
    proce­dure encompassing substantially all its aspects. A score of 0.5 is
    assigned if yes; 0 if no.
  </li>
  <li>
    Whether commercial disputes of all kinds—aside from those dealing with
    public order, public policy, bankruptcy, consumer rights, employment issues
    or intellectual property—can be submitted to arbitration. A score of 0.5 is
    assigned if yes; 0 if no.
  </li>
  <li>
    Whether valid arbitration clauses or agreements are enforced by local courts
    in more than 50% of cases. A score of 0.5 is assigned if yes; 0 if no.
  </li>
  <li>
    Whether voluntary mediation, conciliation or both are a recog­nized way of
    resolving commercial disputes. A score of 0.5 is assigned if yes; 0 if no.
  </li>
  <li>
    Whether voluntary mediation, conciliation or both are governed by a
    consolidated law or consolidated chapter or section of the applicable code
    of civil procedure encompassing substantially all their aspects. A score of
    0.5 is assigned if yes; 0 if no.
  </li>
  <li>
    Whether there are any financial incen­tives for parties to attempt mediation
    or conciliation (for example, if mediation or conciliation is successful, a
    refund of court filing fees, an income tax credit or the like). A score of
    0.5 is assigned if yes; 0 if no.
  </li>
</ul>
<p>
  The index ranges from 0 to 3, with higher values associated with greater
  availability of alternative dispute resolu­tion mechanisms. In Israel, for
  example, arbitration is regulated through a dedicated statute (a score of
  0.5), all relevant commercial disputes can be submitted to arbitration (a
  score of 0.5), and valid arbitration clauses are usually enforced by the
  courts (a score of 0.5). Voluntary mediation is a recognized way of resolving
  commercial disputes (a score of 0.5), it is regulated through a dedicated
  statute (a score of 0.5), and part of the filing fees is reimbursed if the
  process is successful (a score of 0.5). Adding these numbers gives Israel a
  score of 3 on the alternative dispute resolution index.
</p>
<h4><strong>Quality of judicial processes index</strong></h4>
<p>
  The quality of judicial processes index is the sum of the scores on the court
  structure and proceedings, case management, court automation and alternative
  dispute resolution indices. The index ranges from 0 to 18, with higher values
  indicating better and more efficient judicial processes.&nbsp;
</p>
<h4><strong>Reforms</strong></h4>
<p>
  The enforcing contracts indicator set tracks changes related to the efficiency
  and quality of commercial dispute resolu­tion systems every year. Depending on
  the impact on the data, certain changes are classified as reforms and listed
  in the summaries of <em>Doing Business</em> reforms in order to acknowledge
  the implementation of signiﬁcant changes. Reforms are divided into two types:
  those that make it easier to do business and those changes that make it more
  difficult to do business. The enforcing contracts indicator set uses three
  criteria to recognize a reform.
</p>
<p>
  First, changes in laws and regulations that have any impact on the economy’s
  score on the quality of judicial processes index are classified as reforms.
  Examples of reforms impacting the quality of judi­cial processes index include
  measures to introduce electronic filing of the initial complaint, the creation
  of a commercial court or division, or the introduction of dedicated systems to
  resolve small claims. Changes affecting the quality of judicial processes
  index can be different in magnitude and scope and still be considered a
  reform. For example, implementing a new electronic case management system for
  the use of judges and lawyers represents a reform with a 2-point increase in
  the index, while introducing incentives for the parties to use mediation
  represents a reform with a 0.5-point increase in the index.
</p>
<p>
  Second, the impact of data changes on the time and cost to resolve a dispute
  is assessed based on the absolute change in the overall score of the indicator
  set as well as the change in the relative score gap. According to the
  enforcing contracts methodology, any updates in legislation leading to a
  change of 0.5 points or more in the score and 2% or more on the relative score
  gap of the time and cost indicators is classified as a reform, except when the
  change is the result of automatic official fee indexation to a price or wage
  index (for more details, see the chapter on the ease of doing business score
  and ease of doing business ranking). Minor fee updates or other small changes
  in the indicators that have an aggregate impact of less than 0.5 points on the
  overall score or 2% on the gap are not classified as a reform, but the data
  are updated accordingly.&nbsp;
</p>
<p>
  Third, legislative changes of exceptional magnitude such as sizeable revisions
  of the applicable civil procedure, or enforcement laws, that are anticipated
  to have a significant impact on time and cost in the future are classified as
  reforms.
</p>
<p>
  <em
    >This methodology was initially developed by Djankov and others (2003) and
    is adopted here with several changes. The quality of judicial processes
    index was introduced in </em
  >Doing Business 2016<em
    >. The good practices tested in this index were developed on the basis of
    internationally recognized good practices promoting judicial efficiency.</em
  >
</p>
<p>
  Source:
  <a
    href="https://www.doingbusiness.org/en/methodology/enforcing-contracts"
    rel="noopener noreferrer"
    target="_blank"
    ><em>doingbusiness.org</em></a
  >
</p>
