<h2><strong>Getting Electricity methodology</strong></h2>
<p>
  <strong
    ><em>Doing Busines</em>s measures the connection process at the level of
    distribution utilities</strong
  >
</p>
<p>
  <img
    src="https://www.doingbusiness.org/content/dam/doingBusiness/images/db-2020/DB2020_What-is-measured_GE.PNG"
  />
</p>
<p><em>Source: Doing Business </em>database</p>
<p>
  <em>Doing Business </em>records all procedures required for a business to
  obtain a permanent electricity connection and supply for a standardized
  warehouse (figure 1). These procedures include&nbsp;applications and contracts
  with electricity utilities, all necessary inspections and clearances from the
  distribution utility as well as from other agencies, and the external and
  final connection works between the building and the electricity grid. The
  process of getting an electricity connection is divided into distinct
  procedures and the study records data for the time and cost to complete each
  procedure.
</p>
<p>
  In addition, <em>Doing Business</em> measures the reliability of supply and
  transparency of tariffs index (included in the aggregate score and ranking on
  the ease of doing business)&nbsp;and the price of electricity (omitted from
  these aggregate measures). The reliability of supply and transparency of
  tariffs index encompasses quantitative data on the duration and frequency of
  power outages as well as qualitative information on the mechanisms put in
  place by the utility for monitoring power outages and restoring power supply,
  the supervision of power outages by a regulator, the transparency and
  accessibility of tariffs, and lastly, whether the utility faces a financial
  deterrent aimed at limiting outages (such as a requirement to compensate
  customers or pay fines when outages exceed a certain cap).
</p>
<p>
  The ranking of economies on the ease of getting electricity is determined by
  sorting their scores for getting electricity. These scores are the simple
  average of the scores for all the component indicators except the price of
  electricity.
</p>
<p>
  Data on the reliability of supply are collected from the electricity
  distribution utilities or regulators, depending upon the specific technical
  nature of the data. The rest of the information, including data
  on&nbsp;transparency of tariffs and procedures for obtaining electricity
  connection, are collected from all market players—the electricity distribution
  utility, electricity regulatory agencies and independent professionals such as
  electrical engineers, electrical contractors and construction companies. The
  distribution utility consulted is the one serving the area (or areas) where
  warehouses are most commonly located. If there is a choice of distribution
  utilities, the one serving the largest number of customers is selected.
</p>
<p>
  To make the data comparable across economies, several assumptions about the
  warehouse, the electricity connection and the monthly consumption are used.
</p>
<p><strong>Assumptions about the warehouse</strong></p>
<p>The warehouse:</p>
<ul>
  <li>Is owned by a local entrepreneur.</li>
  <li>
    Is located in the economy’s largest business city. For 11 economies the data
    are also collected for the second largest business city.
  </li>
  <li>
    Is located in an area where similar warehouses are typically located. In
    this area a new electricity connection is not eligible for a special
    investment promotion regime (offering special subsidization or faster
    service, for example).
  </li>
  <li>
    Is located in an area with no physical constraints. For example, the
    property is not near a railway.
  </li>
  <li>
    Is a new construction and is being connected to electricity for the first
    time.
  </li>
  <li>
    Has two stories, both above ground, with a total surface area of
    approximately 1,300.6 square meters (14,000 square feet). The plot of land
    on which it is built is 929 square meters (10,000 square feet).
  </li>
  <li>Is used for storage of goods.</li>
</ul>
<p><strong>Assumptions about the electricity connection</strong></p>
<p>The electricity connection:</p>
<ul>
  <li>Is a permanent one.</li>
  <li>
    Is a three-phase, four-wire Y connection with a subscribed capacity of
    140-kilovolt- ampere (kVA) with a power factor of 1, when 1 kVA = 1 kilowatt
    (kW).
  </li>
  <li>
    Has a length of 150 meters. The connection is to either the low- or medium-
    voltage distribution network and is either overhead or underground,
    whichever is more common in the area where the warehouse is located.
  </li>
  <li>
    Requires works that involve the crossing of a 10-meter wide road (by
    excavation, overhead lines) but are all carried out on public land. There is
    no crossing of other owners’ private property because the warehouse has
    access to a road.
  </li>
  <li>Includes only negligible length in the customer’s private domain.</li>
  <li>
    Does not require work to install the internal wiring of the warehouse. This
    has already been completed up to and including the customer’s service panel
    or switchboard and the meter base. However, internal wiring inspections and
    certifications that are prerequisites&nbsp;to obtain a new connection are
    counted as
    procedures.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </li>
</ul>
<p><strong>Assumptions about the monthly consumption for January</strong></p>
<ul>
  <li>
    It is assumed that the warehouse operates 30 days a month from 9:00 a.m. to
    5:00 p.m. (8 hours a day), with equipment utilized at 80% of capacity on
    average and that there are no electricity cuts (assumed for simplicity
    reasons).
  </li>
  <li>
    The monthly energy consumption is 26,880 kilowatt-hours (kWh); hourly
    consumption is 112 kWh.
  </li>
  <li>
    If multiple electricity suppliers exist, the warehouse is served by the
    cheapest supplier.
  </li>
  <li>
    Tariffs effective in January of the current year are used for calculation of
    the price of electricity for the warehouse. Although January has 31 days,
    for calculation purposes only 30 days are used.
  </li>
</ul>
<p><strong>Procedures</strong></p>
<p>
  A procedure is defined as any interaction of the company’s employees or its
  main electrician or electrical engineer (that is, the one who may have done
  the internal wiring) with external parties, such as the electricity
  distribution utility, electricity supply utilities, government agencies,
  electrical contractors and electrical firms. Interactions between company
  employees and steps related to the internal electrical wiring, such as the
  design and execution of the internal electrical installation plans, are not
  counted as procedures. However, internal wiring inspections and certifications
  that are prerequisites to obtain a new connection are counted as procedures.
  Procedures that must be completed with the same utility but with different
  departments are counted as separate procedures.
</p>
<p>
  The company’s employees are assumed to complete all procedures themselves
  unless the use of a third party is mandated (for example, if an electrician
  registered with the utility is the only party allowed to submit an
  application). If the company can, but is not required to request the services
  of professionals (such as a private ﬁrm), procedures will be counted for each
  interaction commonly done in practice.
</p>
<p>
  A procedure is always counted for the external works between the warehouse and
  the electricity grid—whether it is carried out by the utility or a private
  contractor. However, the external work procedure&nbsp;and the meter
  installation can be counted as one unique procedure, provided that two
  specific conditions are met: (i) both the external works and meter
  installation are carried out by the same company or agency, and (ii) there is
  no additional interaction for the customer between the external works and the
  meter installation (such as, for example, a supply contract that needs to be
  signed or a security deposit that needs to be paid).&nbsp;
</p>
<p>
  If an internal wiring inspection — or a related certification on the
  installation — is needed to obtain a new connection, then it is counted as a
  procedure. However, if an internal inspection and the meter installation occur
  (i) at the same time, and (ii) without additional follow up or through a
  separate request, then these are counted as one procedure.&nbsp;
</p>
<p><strong>Time</strong></p>
<p>
  Time is recorded in calendar days. The measure captures the median duration
  that the electricity utility and experts indicate is necessary in practice,
  rather than required by law, to complete a procedure with minimum follow-up
  and no extra payments. It is assumed that the minimum time required for each
  procedure is one day. Although procedures may take place simultaneously, they
  cannot start on the same day (that is, simultaneous procedures start on
  consecutive days). It is assumed that the company does not waste time and
  commits to completing each remaining procedure without delay. The time spent
  by the company on preparing information to fill in forms is not measured. It
  is assumed that the company is aware of all electricity connection
  requirements and their sequence from the beginning.
</p>
<p><strong>Cost</strong></p>
<p>
  Cost is recorded as a percentage of the economy’s income per capita and is
  recorded exclusive of value added tax. All the fees and costs associated with
  completing the procedures to connect a warehouse to electricity are recorded,
  including those related to obtaining clearances from government agencies,
  applying for the connection, receiving inspections of both the site and the
  internal wiring, purchasing material, getting the actual connection works and
  paying a security deposit. Information from local experts and specific
  regulations and fee schedules are used as sources. If several local partners
  provide different estimates, the median reported value is used. In all cases
  the cost excludes bribes or unofficial payments.
</p>
<p><strong>Security deposit</strong></p>
<p>
  Utilities may require security deposits as a guarantee against the possible
  failure of customers to pay their consumption bills. For this reason, the
  security deposit for a new customer is most often calculated as a function of
  the customer’s estimated consumption.
</p>
<p>
  <em>Doing Business</em> does not record the full amount of the security
  deposit. If the deposit is based on the customer’s actual consumption, this
  basis is the one assumed in the case study. Rather than the full amount of the
  security deposit, <em>Doing Business</em> records the present value of the
  losses in interest earnings experienced by the customer because the utility
  holds the security deposit over a prolonged period, in most cases until the
  end of the contract (assumed to be of five years). In cases where the security
  deposit is used to cover the first monthly consumption bills, it is not
  recorded. To calculate the present value of the lost interest earnings, the
  end-2018 lending rates from the International Monetary Fund’s
  <em>International Financial Statistics</em> are used. In cases where the
  security deposit is returned with interest, the difference between the lending
  rate and the interest paid by the utility is used to calculate the present
  value of lost interest earnings.
</p>
<p>
  In some economies, the security deposit can be settled in the form of a bond:
  the company can obtain from a bank or an insurance company a guarantee issued
  on the assets it holds with that financial institution. In contrast to the
  scenario in which the customer pays the deposit in cash to the utility, in
  this case the company does not lose ownership control over the full amount and
  can continue using it. In return, the company will pay the bank a commission
  for obtaining the bond. The commission charged may vary depending on the
  credit standing of the company. The best possible credit standing and thus the
  lowest possible commission are assumed. Where a bond can be used, the value
  recorded for the deposit is the annual commission times the five years assumed
  to be the length of the contract. If both options exist, the cheaper
  alternative is recorded.
</p>
<p>
  In Hong Kong SAR, China, a customer requesting a 140-kVA electricity
  connection in 2018 would have had to put up a security deposit of 68,920 Hong
  Kong dollars (approximately $8,649) in cash or check, and the deposit would
  have been returned only at the end of the contract. The customer could instead
  have invested this money at the prevailing lending rate of 5.04%. Over the ﬁve
  years of the contract, this would imply a present value of lost interest
  earnings of 154,000 Hong Kong dollars ($1,882). In contrast, if the customer
  chose to settle the deposit with a bank guarantee at an annual rate of 1.5%,
  the amount lost over the ﬁve years would be just 5,169 Hong Kong dollars
  ($648).
</p>
<p><strong>Reliability of supply and transparency of tariffs index</strong></p>
<p>
  <em>Doing Business</em> uses the system average interruption duration index
  (SAIDI) and the system average interruption frequency index (SAIFI) to measure
  the duration and frequency of power outages in the largest business city of
  each economy (for 11 economies the data are also collected for the second
  largest business city). SAIDI is the average total duration of outages over
  the course of a year for each customer served, while SAIFI is the average
  number of service interruptions experienced by a customer in a year. Annual
  data (covering the calendar year) are collected from distribution utility
  companies and national regulators on SAIDI and SAIFI. Both SAIDI and SAIFI
  estimates should include planned and unplanned outages, as well as load
  shedding.&nbsp;
</p>
<p>
  An economy is eligible to obtain a score on the reliability of supply and
  transparency of tariffs index if it satisfies two conditions. First, the
  utility must collect data on all types of outages (measuring the average total
  duration of outages per customer and the average number of outages per
  customer). Second, the SAIDI value must be below a threshold of 100 hours and
  the SAIFI value must be under 100 outages.
</p>
<p>
  An economy is not eligible to obtain a score if outages are too frequent or
  long-lasting for the electricity supply to be considered reliable—that is, if
  the SAIDI or the SAIFI values exceed the determined thresholds. An economy is
  also not eligible to obtain a score on the index if data on power outages are
  not collected or collected partially (for example, planned outages or load
  shedding are not included in the calculation of the SAIDI and SAIFI indices),
  and if the minimum outage time considered for calculation of the SAIDI and
  SAIFI indices is over 5 minutes.
</p>
<p>
  For all economies that meet the criteria as determined by
  <em>Doing Business</em>, a score on the reliability of supply and transparency
  of tariffs index is calculated on the basis of the following six components:
</p>
<ul>
  <li>
    What the SAIDI and SAIFI values are. If SAIDI and SAIFI are 12 (equivalent
    to an outage of one hour each month) or below, a score of 1 is assigned. If
    SAIDI and SAIFI are 4 (equivalent to an outage of one hour each quarter) or
    below, 1 additional point is assigned. Finally, if SAIDI and SAIFI are 1
    (equivalent to an outage of one hour per year) or below, 1 more point is
    assigned.
  </li>
  <li>
    What tools are used by the distribution utility to monitor power outages. A
    score of 1 is assigned if the utility uses automated tools, such as an
    Outage/Incident Management System (OMS/IMS) or Supervisory Control and Data
    Acquisition (SCADA) system; 0 if it relies on calls from customers and
    records and monitors outages manually.
  </li>
  <li>
    What tools are used by the distribution utility to restore power supply. A
    score of 1 is assigned if the utility uses automated tools, such as an
    OMS/IMS or SCADA system; 0 if it relies on manual resources for service
    restoration, such as field crews or maintenance personnel.
  </li>
  <li>
    Whether a regulator—that is, a separate and independent entity from the
    utility — monitors the utility’s performance on reliability of supply. A
    score of 1 is assigned if the regulator performs periodic or real-time
    reviews; 0 if it does not monitor power outages and does not require the
    utility to report on reliability of supply.
  </li>
  <li>
    Whether financial deterrents exist to limit outages. A score of 1 is
    assigned if the utility compensates customers when outages exceed a certain
    cap, if the utility is fined by the regulator when outages exceed a certain
    cap or if both these conditions are met; 0 if no deterrent mechanism of any
    kind is available.
  </li>
  <li>
    Whether electricity tariffs are transparent and easily available. A score of
    1 is assigned if effective tariffs are available online and customers are
    notified of a change in tariff a full billing cycle (that is, one month)
    ahead of time; 0 if not. For notifications to be considered by the study,
    customers must be made aware of the changes in tariffs that will be
    applicable to them.
  </li>
</ul>
<p>
  The index ranges from 0 to 8, with higher values indicating greater
  reliability of electricity supply and greater transparency of tariffs. In the
  United Kingdom, for example, the distribution utility company UK Power
  Networks uses SAIDI and SAIFI metrics to monitor and collect data on power
  outages. In 2018, the average total duration of power outages in London was
  0.29 hours per customer and the average number of outages experienced by a
  customer was 0.15. Both SAIDI and SAIFI are below the threshold and indicate
  that there was less than one outage a year per customer, for a total duration
  of less than one hour. Hence, the economy not only meets the eligibility
  criteria for obtaining a score on the index, it also receives a score of 3 on
  the ﬁrst component of the index. The utility uses the automatic GE PowerOn
  Control System to identify faults in the network (a score of 1) and restore
  electricity service (a score of 1). The Office of Gas and Electricity Markets,
  an independent national regulatory authority, actively reviews the utility’s
  performance in providing reliable electricity service (a score of 1) and
  requires the utility to compensate customers if outages last longer than a
  maximum period deﬁned by the regulator (a score of 1). Customers are notiﬁed
  of a change in tariffs ahead of the next billing cycle and can easily check
  effective tariffs online (a score of 1). Adding these numbers gives the United
  Kingdom a total score of 8 on the reliability of supply and transparency of
  tariffs index.
</p>
<p>
  On the other hand, several economies receive a score of 0 on the reliability
  of supply and transparency of tariffs index. The reason may be that outages
  occur more than once a month and none of the mechanisms and tools measured by
  the index are in place. An economy may also receive a score of 0 if either the
  SAIDI or SAIFI value (or both) exceeds the threshold of 100, or not all
  outages were considered when calculating the indices. In Suriname, for
  example, the utility does not include load shedding in the calculation of
  SAIDI and SAIFI indices. Thus, based on the criteria established, Suriname
  cannot receive a score on the index even though the utility uses automated
  systems for monitoring outages and restoration of power supply and there is a
  transparency of electricity tariffs.
</p>
<p>
  If new commercial connections to the electricity grid were not issued between
  May 2018 and May 2019, or if electricity is not provided during that period,
  the economy receives a “no practice” mark on the procedures, time and cost
  indicators. In addition, a “no practice” economy receives a score of 0 on the
  reliability of supply and transparency of tariff index even if, for example,
  there is regulatory oversight of utilities on power interruptions, among
  others.&nbsp;
</p>
<p><strong>Price of electricity</strong></p>
<p>
  <em>Doing Business</em> measures the price of electricity but does not include
  these data when calculating the score for getting electricity or the ranking
  on the ease of getting electricity. The data are available on the
  <em>Doing Business</em> website (http://www.doingbusiness.org) and are based
  on standardized assumptions to ensure comparability across economies.&nbsp;
</p>
<p>
  The price of electricity is measured in U.S. cents per kilowatt-hour. A
  monthly electricity consumption is assumed, for which a monthly bill is then
  computed for a warehouse based in the largest business city of the economy for
  the month of January (for 11 economies the data are also collected for the
  second largest business city). As noted, the warehouse uses electricity 30
  days a month, from 9:00 a.m. to 5:00 p.m., so different tariff schedules may
  apply if a time-of-use tariff is available.&nbsp;
</p>
<p><strong>Reforms</strong></p>
<p>
  The getting electricity indicator set tracks changes related to the efficiency
  of the connection process, as well as the reliability of power supply and
  transparency of tariffs. Depending on the impact on&nbsp;the data, certain
  changes are classified as reforms and listed in the
  <a
    href="https://www.doingbusiness.org/en/reforms"
    rel="noopener noreferrer"
    target="_blank"
    >summaries of <em>Doing Business </em>reforms</a
  >
  in order to acknowledge the implementation of significant changes. Reforms are
  divided into two types: those that make it easier to do business and those
  changes that make it more difficult to do business. The getting electricity
  indicator set uses two criteria to recognize a reform.
</p>
<p>
  First, the impact of data changes is assessed based on the absolute change in
  the overall score of the indicator set as well as the change in the relative
  score gap. Any data update that leads to a change of 0.5 points or more in the
  score and 2% or more on the relative score gap is classiﬁed as a reform,
  except when the change is the result of automatic official fee indexation to a
  price or wage index (for more details, see the chapter on the ease of doing
  business score and ease of doing business ranking). For example, if the
  implementation of a new single window at the utility reduces time and
  procedures in a way that the score increases by 0.5 points or more and the
  overall gap decreases by 2% or more, the change is classiﬁed as a reform.
  Minor fee updates from the utility or other small changes in the indicators
  that have an aggregate impact of less than 0.5 points on the overall score or
  2% on the gap are not classiﬁed as a reform, but the data are updated
  accordingly.
</p>
<p>
  Second, to be considered a reform, changes in the data must be tied to an
  initiative led by the utility or by the government—and not an exogenous event.
  For example, if outages increase considerably from one year to the next due to
  inclement weather, this cannot be considered a reform that makes doing
  business harder. Similarly, if the cost of electricity-related materials (such
  as cabling or transformers) decreases due to a currency appreciation, this
  cannot be considered a reform that makes doing business easier. However, if a
  utility establishes a one-stop shop to streamline the connection process or if
  it installs an automated system to improve monitoring of power outages and
  restoration of electricity services, these actions would be considered reforms
  that made doing business easier.
</p>
<p>
  <em>The initial methodology was developed by </em
  ><a
    href="https://www.sciencedirect.com/science/article/pii/S0140988318303682"
    rel="noopener noreferrer"
    target="_blank"
    ><em>Geginat and Ramalho (2015)</em></a
  ><em> and is adopted here with minor changes.</em>
</p>
<p>
  <strong>Source:</strong>
  <a
    href="https://www.doingbusiness.org/en/methodology/getting-electricity"
    rel="noopener noreferrer"
    target="_blank"
    ><em>doingbusiness.org</em></a
  >
</p>
