<h2><strong>Getting Credit methodology</strong></h2>
<p>
  <strong
    >Figure 1 - Do lenders have credit information on entrepreneurs seeking
    credit? Is the law favorable to borrowers and lenders using movable assets
    as collateral?</strong
  >
</p>
<p>
  <img
    src="https://www.doingbusiness.org/content/dam/doingBusiness/images/db-2020/Figure-1.PNG"
  />
</p>
<p><em>Source: Doing Business</em> database</p>
<p>
  <em>Doing Business </em>measures the legal rights of borrowers and lenders
  with respect to secured transactions through one set of indicators and the
  reporting of credit information through another. The first measures whether
  certain features that facilitate lending exist within the applicable
  collateral and bankruptcy laws. The second measures the coverage, scope and
  accessibility of credit information available through credit reporting service
  providers such as credit bureaus or credit registries (figure 1). The ranking
  of economies on the ease of getting credit is determined by sorting their
  scores for getting credit. These scores are the sum of the scores for the
  strength of legal rights index and the depth of credit information index.
</p>
<p><strong>Legal rights of borrowers and lenders&nbsp;</strong></p>
<p>
  The data on the legal rights of borrowers and lenders are gathered through a
  questionnaire administered to financial lawyers and verified through analysis
  of laws and regulations as well as public sources of information on collateral
  and bankruptcy laws. Questionnaire responses are verified through several
  rounds of follow-up communication with respondents as well as by contacting
  third parties and consulting public sources. The questionnaire data are
  confirmed through teleconference calls or on-site visits in all economies.
</p>
<p><strong>Strength of legal rights index</strong></p>
<p>
  The strength of legal rights index measures the degree to which collateral and
  bankruptcy laws protect the rights of borrowers and lenders and thus
  facilitate lending. For each economy it is first determined whether a unitary
  secured transactions system exists. Then two case scenarios, case A and case
  B, are used to determine how a nonpos­sessory security interest is created,
  publicized and enforced according to the law. Special emphasis is given to how
  the collateral registry operates (if regis­tration of security interests is
  possible). The case scenarios involve a secured borrower, company ABC, and a
  secured lender, BizBank.
</p>
<p>
  In some economies the legal framework for secured transactions will allow only
  case A or case B (not both) to apply. Both cases examine the same set of legal
  provisions relating to the use of movable collateral.
</p>
<p>
  Several assumptions about the secured borrower (ABC) and lender (BizBank) are
  used:
</p>
<ul>
  <li>
    ABC is a domestic limited liability company (or its legal equivalent).
  </li>
  <li>ABC has up to 50 employees.</li>
  <li>
    ABC has its headquarters and only base of operations in the economy’s
    largest business city. For 11economies the data are also collected for the
    second largest business city.
  </li>
  <li>Both ABC and BizBank are 100% domestically owned.</li>
</ul>
<p>
  The strength of legal rights index covers functional equivalents to security
  inter­ests in movable assets (such as financial leases and sales with
  retention of title) only in its first component, to assess how integrated or
  unified the economy’s legal framework for secured transactions is.
</p>
<p>
  The strength of legal rights index includes 10 aspects related to legal rights
  in collat­eral law and 2 aspects in bankruptcy law. A score of 1 is assigned
  for each of the following features of the laws:
</p>
<ul>
  <li>
    The economy has an integrated or unified legal framework for secured
    transactions that extends to the creation, publicity and enforcement of four
    functional equivalents to security interests in movable assets: fiduciary
    transfers of title; financial leases; assignments or transfers of
    receiv­ables; and sales with retention of title.
  </li>
  <li>
    The law allows a business to grant a nonpossessory security right in a
    single category of movable assets (such as accounts receivable, tangible
    movable assets and inventory), without requiring a specific descrip­tion of
    the collateral.
  </li>
  <li>
    The law allows a business to grant a nonpossessory security right in
    substantially all its movable assets, without requiring a specific
    descrip­tion of the collateral.
  </li>
  <li>
    A security right can be given over future and after-acquired assets, and
    extends automatically to the prod­ucts, proceeds and replacements of the
    original assets.
  </li>
  <li>
    All types of debts and obligations can be secured between the parties, and a
    general description of such debts and obligations is permitted in the
    collateral agreement and in registra­tion documents.
  </li>
  <li>
    A collateral registry or registration institution for security interests
    granted over movable property by incorporated and unincorporated entities is
    in operation, unified geographically and with an electronic database indexed
    by debtors’ names.
  </li>
  <li>
    The collateral registry is a notice-based registry—a registry that files
    only a notice of the existence of a security interest (not the underlying
    documents) and does not perform a legal review of the transaction. The
    registry also publicizes functional equivalents to security interests.
  </li>
  <li>
    The collateral registry has modern features such as those that allow secured
    creditors (or their represen­tatives) to register, search, amend or cancel
    security interests online.
  </li>
  <li>
    Secured creditors are paid first (for example, before tax claims and
    employee claims) when a debtor defaults outside an insolvency procedure.
  </li>
  <li>
    Secured creditors are paid first (for example, before tax claims and
    employee claims) when a business is liquidated.
  </li>
  <li>
    Secured creditors are subject to an automatic stay on enforcement
    proceedings when a debtor enters a court-supervised reorganization
    procedure, but the law protects secured creditors’ rights by providing clear
    grounds for relief from the automatic stay (for example, if the movable
    property is not used for the reorganization or sale of the business as a
    going concern, or if there is a risk to its existence) and setting a time
    limit for it.
  </li>
  <li>
    The law allows parties to agree in the collateral agreement that the lender
    may enforce its security right out of court; the law allows the assets to be
    sold through public or private auctions and permits the secured creditor to
    take the asset in satisfac­tion of the debt.
  </li>
</ul>
<p>
  The index ranges from 0 to 12, with higher scores indicating that collateral
  and bankruptcy laws are better designed to expand access to credit.
</p>
<p><strong>Reforms</strong></p>
<p>
  The strength of legal rights index tracks changes related to secured
  transactions and insolvency every year. Depending on the impact on the data,
  certain changes are classified as reforms and listed in the summaries of
  <em>Doing Business </em>reforms in 2018-19 section of the study in order to
  acknowledge the implementation of significant changes. For a secured
  transactions law to be fully implemented and counted as a reform by
  <em>Doing Business</em>, a collateral registry where security interests in
  movable assets can be registered must be in place. Reforms are divided in two
  types: those that make it easier to do business and those changes that make it
  more difficult to do business. The strength of legal rights index uses the
  following criteria to recognize a reform:
</p>
<p>
  All changes in laws and regulations that have any impact on the economy’s
  score on the existence of a secured transac­tion legal framework which
  regulates the creation, publicity and enforcement of nonpossessory security
  interests and their functional equivalents. Each year, new laws and amendments
  are evalu­ated to see if they facilitate obtaining credit by small and medium
  enterprises, allowing for maximum flexibility in the choice of assets which
  can be used as collateral. Guidelines, model rules, prin­ciples,
  recommendations and case law are excluded.
</p>
<p>
  Reforms impacting the strength of legal rights index include amendments to or
  the introduction of a secured transactions act, insolvency code, or civil code
  as well as the establishment or modernization of any of the features of a
  collateral registry as measured by the indicators. For example, introducing a
  law which provides for a collateral registry and actually establishing that
  collateral registry—which is geographi­cally centralized, unified for all
  types of movable assets and for both incorporated and non-incorporated
  entities searchable by debtor’s name—would represent a reform with a 1 point
  increase and would therefore be acknowledged in the study.&nbsp;
</p>
<p><strong>Credit information</strong></p>
<p>
  The data on the reporting of credit information are built in two stages.
  First, banking supervision authorities and public information sources are
  surveyed to confirm the presence of a credit reporting service provider, such
  as a credit bureau or credit registry. Second, where applicable, a detailed
  question­naire on the credit reporting service provider’s structure, laws and
  associated rules is administered to the entity itself. Questionnaire responses
  are verified through several rounds of follow-up communication with
  respondents at the credit reporting service provider as well as by contacting
  third parties and consulting public sources. The questionnaire data are
  confirmed through teleconference calls or on-site visits.
</p>
<p><strong>Depth of credit information index</strong></p>
<p>
  The depth of credit information index measures rules and practices affecting
  the coverage, scope and accessibility of credit information available through
  either a credit bureau or a credit registry.
</p>
<p>
  A score of 1 is assigned for each of the following eight features of the
  credit bureau or credit registry (or both):
</p>
<ul>
  <li>Data on firms and individuals are distributed.</li>
  <li>
    Both positive credit information (for example, original loan amounts,
    outstanding loan amounts and a pattern of on-time repayments) and negative
    information (for example, late payments and the number and amount of
    defaults) are distributed.
  </li>
  <li>
    Data from retailers or utility compa­nies are distributed in addition to
    data from financial institutions.
  </li>
  <li>
    At least two years of historical data are distributed. Credit bureaus and
    registries that erase data on defaults as soon as they are repaid or
    distribute negative information more than 10 years after defaults are repaid
    receive a score of 0 for this component.
  </li>
  <li>Data on loan amounts below 1% of income per capita are distributed.</li>
  <li>
    By law, borrowers have the right to access their data in the largest credit
    bureau or registry in the economy. Credit bureaus and registries that charge
    more than 1% of income per capita for borrowers to inspect their data
    receive a score of 0 for this component.
  </li>
  <li>
    Banks and other financial institu­tions have online access to the credit
    information (for example, through a web interface, a system-to-system
    connection or both).
  </li>
  <li>
    Bureau or registry credit scores are offered as a value-added service to
    help banks and other financial insti­tutions assess the creditworthiness of
    borrowers.
  </li>
</ul>
<p>
  The index ranges from 0 to 8, with higher values indicating the availability
  of more credit information, from either a credit bureau or a credit registry,
  to facilitate lending decisions. If the credit bureau or registry is not
  operational or covers less than 5% of the adult population, the score on the
  depth of credit information index is 0.
</p>
<p>
  In Lithuania, for example, both a credit bureau and a credit registry operate
  and cover more than 5% of the adult popu­lation. Both distribute data on firms
  and individuals (a score of 1). Although the credit registry does not
  distribute data on on-time repayments, the credit bureau distributes full
  positive and negative credit information (a score of 1). While the credit
  registry does not distribute data from retailers or utilities, the credit
  bureau does (a score of 1). Both distribute at least two years of historical
  data (a score of 1). Both the credit registry and the credit bureau distribute
  data on loan amounts below 1% of income per capita (a score of 1). Borrowers
  have the right to access their data in both the credit bureau and the credit
  registry free of charge once a year (a score of 1). Both entities provide data
  users access to databases through a web interface (a score of 1). Although the
  credit registry does not provide credit scores, the credit bureau does (a
  score of 1). Adding these numbers gives Lithuania a score of 8 on the depth of
  credit infor­mation index.
</p>
<p><strong>Credit bureau coverage</strong></p>
<p>
  Credit bureau coverage reports the number of individuals and firms listed in a
  credit bureau’s database as of January 1, 2019, with information on their
  borrowing history within the past five years, plus the number of individuals
  and firms that have had no borrowing history in the past five years but for
  which a lender requested a credit report from the bureau in the period between
  January 2, 2018, and January 1, 2019. The number is expressed as a percentage
  of the adult population (the population age 15 to 64 in 2018 according to the
  World Bank’s World Development Indicators). A credit bureau is defined as a
  private firm or nonprofit organization that maintains a database on the
  credit­worthiness of borrowers (individuals or firms) in the financial system
  and facili­tates the exchange of credit information among creditors. (Many
  credit bureaus support banking and overall financial supervision activities in
  practice, though this is not their primary objective.) Credit investigative
  bureaus that do not directly facilitate information exchange among banks and
  other financial institutions are not considered. If no credit bureau
  oper­ates, the coverage value is 0.0%.
</p>
<p><strong>Credit registry coverage</strong></p>
<p>
  Credit registry coverage reports the number of individuals and firms listed in
  a credit registry’s database as of January 1, 2019, with information on their
  borrowing history within the past five years, plus the number of individuals
  and firms that have had no borrowing history in the past five years but for
  which a lender requested a credit report from the registry in the period
  between January 2, 2018, and January 1, 2019. The number is expressed as a
  percentage of the adult population (the popula­tion age 15 to 64 in 2018
  according to the World Bank’s World Development Indicators). A credit registry
  is defined as a database managed by the public sector, usually by the central
  bank or the superintendent of banks, that collects information on the
  creditworthiness of borrowers (individuals or firms) in the financial system
  and facilitates the exchange of credit information among banks and other
  regulated financial institutions (while their primary objec­tive is to assist
  banking supervision). If no credit registry operates, the coverage value is
  0.0%.
</p>
<p><strong>Reforms</strong></p>
<p>
  The depth of credit information index tracks changes related to the coverage,
  scope and accessibility of credit infor­mation available through either a
  credit bureau or a credit registry every year. Depending on the impact on the
  data, certain changes are classified as reforms and listed in the summaries of
  <em>Doing Business </em>reforms in order to acknowledge the implementa­tion of
  significant changes. Reforms are divided into two types: those that make it
  easier to do business and those changes that make it more difficult to do
  business. The credit information index uses three criteria to recognize a
  reform.
</p>
<p>
  First, all changes in laws, regulations and practices that have any impact on
  the economy’s score on the credit infor­mation index are classified as
  reforms. Examples of reforms impacting the index include measures to
  distribute positive credit data in addition to nega­tive data, the
  distribution of credit data from utilities or retailers or the introduc­tion
  of credit scores as a value-added service. Any change that improves the score
  of a given economy in any of the eight features of the index is consid­ered a
  reform. Some reforms can have an impact in more than one feature. For example,
  the introduction of a new credit bureau covering more than 5% of the adult
  population that distributes information on firms and individuals, as well as
  positive and negative data and provides online access to data users,
  represents a 3-point increase in the index. In contrast, the introduction of
  legislation that guarantees borrowers’ rights to access their data in the
  largest credit bureau or registry in the economy represents a reform with a
  1-point increase in the index.
</p>
<p>
  Second, changes that increase the coverage of the largest credit bureau or
  registry in an economy above 5% of the adult population may also be classified
  as reforms. According to the getting credit methodology, if the credit bureau
  or registry is not operational or covers less than 5% of the adult population,
  the score on the depth of credit infor­mation index is 0. The impact of the
  reform will depend on the characteris­tics of the economy’s credit reporting
  system as it relates to the eight features of the index. Expanded coverage
  that does not reach 5% of the adult popu­lation is not classified as a reform,
  but the impact is still reflected in the most up-to-date statistics.
</p>
<p>
  Third, occasionally the credit informa­tion index will acknowledge legislative
  changes with no current impact on the data as reforms. This option is
  typi­cally reserved to legislative changes of exceptional magnitude, such as
  the introduction of laws allowing the operation of credit bureaus or laws on
  personal data protection.
</p>
<p>
  <em
    >The initial methodology was developed by Djankov, McLiesh and Shleifer
    (2007) and is adopted here with minor changes.</em
  >
</p>
<p>
  <strong>Source:</strong>
  <a
    href="https://www.doingbusiness.org/en/methodology/getting-credit"
    rel="noopener noreferrer"
    target="_blank"
    ><em>doingbusiness.org</em></a
  >
</p>
