<h2><strong>Paying Taxes methodology</strong></h2>
<p>
  <em>Doing Busines</em>s records the taxes and mandatory contributions that a
  medium-size company must pay in a given year as well as measures of the
  administrative burden of paying taxes and contributions and complying with
  post filing procedures. The project was developed and implemented in
  cooperation with PwC. Taxes and contributions measured include the proﬁt or
  corporate income tax, social contributions and labor taxes paid by the
  employer, property taxes, property transfer taxes, dividend tax, capital gains
  tax, ﬁnancial transactions tax, waste collection taxes, vehicle and road
  taxes, and any other small taxes or fees.
</p>
<p>
  <strong
    >Figure 1. What are the time, total tax and contribution rate, and number of
    payments necessary for a local medium-size company to pay all taxes? How
    efficient is it for a local medium-size company to comply with postfiling
    processes?</strong
  >
</p>
<p>
  <em
    ><img
      src="https://www.doingbusiness.org/content/dam/doingBusiness/images/db-2020/PT_What-measured.PNG"
  /></em>
</p>
<p><em>Source: Doing Business</em> database</p>
<p>
  The ranking of economies on the ease of paying taxes is determined by sorting
  their scores for paying taxes. These scores are the simple average of the
  scores for each of the component indicators, with a threshold and a nonlinear
  transformation applied to one of the component indicators, the total tax and
  contribution rate. The threshold is deﬁned as the total tax and contribution
  rate at the 15th percentile of the overall distribution for all years included
  in the analysis up to and including <em>Doing Business 2015</em>, which is
  26.1%. All economies with a total tax and contribution rate below this
  threshold receive the same score as the economy at the threshold.
</p>
<p>
  The threshold is not based on any economic theory of an “optimal tax rate”
  that minimizes distortions or maximizes efficiency in an economy’s overall tax
  system. Instead, it is mainly empirical in nature, set at the lower end of the
  distribution of tax rates levied on medium-size enterprises in the
  manufacturing sector as observed through the paying taxes indicators. This
  reduces the bias in the total tax and contribution rate indicator toward
  economies that do not need to levy signiﬁcant taxes on companies like the
  <em>Doing Business </em>standardized case study company because they raise
  public revenue in other ways—for example, through taxes on foreign companies,
  through taxes on sectors other than manufacturing or from natural resources
  (all of which are outside the scope of the methodology).
</p>
<p>
  <em>Doing Business </em>measures all taxes and contributions that are
  government mandated (at any level—federal, state or local) and that apply to
  the standardized business and have an impact in its ﬁnancial statements. In
  doing so, <em>Doing Business </em>goes beyond the traditional deﬁnition of a
  tax. As deﬁned for the purposes of government national accounts, taxes include
  only compulsory, unrequited payments to the general government.
  <em>Doing Business </em>departs from this deﬁnition because it measures
  imposed charges that affect business accounts, not government accounts. One
  main difference relates to labor contributions. The
  <em>Doing Business </em>measure includes government-mandated contributions
  paid by the employer to a requited private pension fund or workers’ insurance
  fund. It includes, for example, Australia’s compulsory superannuation
  guarantee and workers’ compensation insurance. For the purpose of calculating
  the total tax and contribution rate (deﬁned below), only taxes borne are
  included. For example, value added taxes (VAT) are generally excluded
  (provided that they are not irrecoverable) because they do not affect the
  accounting proﬁts of the business—that is, they are not reflected in the
  income statement. They are, however, included for the purpose of the
  compliance measures (time and payments), as they add to the burden of
  complying with the tax system.
</p>
<p>
  <em>Doing Business </em>uses a case scenario to measure the taxes and
  contributions paid by a standardized business and the complexity of an
  economy’s tax compliance system. This case scenario uses a set of ﬁnancial
  statements and assumptions about the transactions made over the course of the
  year. In each economy tax experts from a number of different ﬁrms (in many
  economies these include PwC) compute the taxes and mandatory contributions due
  in their jurisdiction based on the standardized case study facts. Information
  is also compiled on the frequency of ﬁling and payments, the time taken to
  comply with tax laws in an economy, the time taken to request and process a
  VAT refund claim and the time taken to comply with and complete a corporate
  income tax correction. To make the data comparable across economies, several
  assumptions about the business and the taxes and contributions are used.
</p>
<p><strong>Assumptions about the business</strong></p>
<p>The business:</p>
<ul>
  <li>
    Is a limited liability, taxable company. If there is more than one type of
    limited liability company in the economy, the limited liability form most
    common among domestic ﬁrms is chosen. The most common form is reported by
    incorporation lawyers or the statistical office.
  </li>
  <li>
    Started operations on January 1, 2017. At that time the company purchased
    all the assets shown in its balance sheet and hired all its workers.
  </li>
  <li>
    Operates in the economy’s largest business city. For 11 economies the data
    are also collected for the second largest business city.
  </li>
  <li>
    Is 100% domestically owned and has ﬁve owners, all of whom are natural
    persons.
  </li>
  <li>
    At the end of 2017, has a start-up capital of 102 times income per capita.
  </li>
  <li>
    Performs general industrial or commercial activities. Speciﬁcally, it
    produces ceramic flower pots and sells them at retail. It does not
    participate in foreign trade (no import or export) and does not handle
    products subject to a special tax regime, for example, liquor or tobacco.
  </li>
  <li>
    At the beginning of 2018, owns two plots of land, one building, machinery,
    office equipment, computers and one truck and leases one truck.
  </li>
  <li>
    Does not qualify for investment incentives or any beneﬁts apart from those
    related to the age or size of the company.
  </li>
  <li>
    Has 60 employees — 4 managers, 8 assistants and 48 workers. All are
    nationals, and one manager is also an owner. The company pays for additional
    medical insurance for employees (not mandated by any law) as an additional
    beneﬁt. In addition, in some economies reimbursable business travel and
    client entertainment expenses are considered fringe beneﬁts. When
    applicable, it is assumed that the company pays the fringe beneﬁt tax on
    this expense or that the beneﬁt becomes taxable income for the employee. The
    case study assumes no additional salary additions for meals, transportation,
    education or others. Therefore, even when such beneﬁts are frequent, they
    are not added to or removed from the taxable gross salaries to arrive at the
    labor tax or contribution calculation.
  </li>
  <li>Has a turnover of 1,050 times income per capita.</li>
  <li>Makes a loss in the first year of operation.</li>
  <li>
    Has a gross margin (pretax) of 20% (that is, sales are 120% of the cost of
    goods sold).
  </li>
  <li>
    Distributes 50% of its net proﬁts as dividends to the owners at the end of
    the second year.
  </li>
  <li>
    Sells one of its plots of land at a proﬁt at the beginning of the second
    year.
  </li>
  <li>
    Is subject to a series of detailed assumptions on expenses and transactions
    to further standardize the case. For example, the owner who is also a
    manager spends 10% of income per capita on traveling for the company (20% of
    this owner’s expenses are purely private, 20% are for entertaining
    customers, and 60% are for business travel). All ﬁnancial statement
    variables are proportional to 2012 income per capita (this is an update from
    <em>Doing Business 2013 </em>and previous years’ reports, where the
    variables were proportional to 2005 income per capita). For some economies a
    multiple of two or three times income per capita has been used to estimate
    the ﬁnancial statement variables. The 2012 income per capita was not
    sufficient to bring the salaries of all the case study employees up to the
    minimum wage thresholds that exist in these economies.
  </li>
</ul>
<p><strong>Assumptions about the taxes and contributions</strong></p>
<ul>
  <li>
    All the taxes and contributions recorded are those paid in the second year
    of operation (calendar year 2018). A tax or contribution is considered
    distinct if it has a different name or is collected by a different agency.
    Taxes and contributions with the same name and agency, but charged at
    different rates depending on the business, are counted as the same tax or
    contribution.
  </li>
  <li>
    The number of times the company pays taxes and contributions in a year is
    the number of different taxes or contributions multiplied by the frequency
    of payment (or withholding) for each tax. The frequency of payment includes
    advance payments (or withholding) as well as regular payments (or
    withholding).
  </li>
</ul>
<p><strong>Tax payments</strong></p>
<p>
  The tax payments indicator reflects the total number of taxes and
  contributions paid, the method of payment, the frequency of payment, the
  frequency of ﬁling and the number of agencies involved for the standardized
  case study company during the second year of operation. It includes taxes
  withheld by the company, such as sales tax, VAT and employee-borne labor
  taxes. These taxes are traditionally collected by the company from the
  consumer or employee on behalf of the tax agencies. Although they do not
  affect the income statements of the company, they add to the administrative
  burden of complying with the tax system and so are included in the tax
  payments measure.
</p>
<p>
  The number of payments takes into account electronic ﬁling. Where full
  electronic ﬁling and payment is allowed and it is used by the majority of
  medium-size businesses, the tax is counted as paid once a year even if ﬁlings
  and payments are more frequent. For payments made through third parties, such
  as tax on interest paid by a ﬁnancial institution or fuel tax paid by a fuel
  distributor, only one payment is included even if payments are more frequent.
</p>
<p>
  Where two or more taxes or contributions are ﬁled for and paid jointly using
  the same form, each of these joint payments is counted once. For example, if
  mandatory health insurance contributions and mandatory pension contributions
  are ﬁled for and paid together, only one of these contributions would be
  included in the number of payments.
</p>
<p><strong>Time</strong></p>
<p>
  Time is recorded in hours per year. The indicator measures the time taken to
  prepare, ﬁle and pay three major types of taxes and contributions: the
  corporate income tax, value added or sales tax, and labor taxes, including
  payroll taxes and social contributions. Preparation time includes the time to
  collect all information necessary to compute the tax payable and to calculate
  the amount payable. If separate accounting books must be kept for tax
  purposes—or separate calculations made—the time associated with these
  processes is included. This extra time is included only if the regular
  accounting work is not enough to fullfill the tax accounting requirements.
  Filing time includes the time to complete all necessary tax return forms and
  ﬁle the relevant returns at the tax authority. Payment time considers the
  hours needed to make the payment online or in person. Where taxes and
  contributions are paid in person, the time includes delays while waiting.
</p>
<p><strong>Total tax and contribution rate</strong></p>
<p>
  The total tax and contribution rate measures the amount of taxes and mandatory
  contributions borne by the business in the second year of operation, expressed
  as a share of commercial proﬁt. <em>Doing Business 2020 </em>reports the total
  tax and contribution rate for the calendar year 2018. The total amount of
  taxes and contributions borne is the sum of all the different taxes and
  contributions payable after accounting for allowable deductions and
  exemptions. The taxes withheld (such as personal income tax) or collected by
  the company and remitted to the tax authorities (such as VAT, sales tax or
  goods and service tax) but not borne by the company are excluded. The taxes
  included can be divided into ﬁve categories: proﬁt or corporate income tax,
  social contributions and labor taxes paid by the employer (for which all
  mandatory contributions are included, even if paid to a private entity such as
  a requited pension fund), property taxes, turnover taxes and other taxes (such
  as municipal fees and vehicle taxes). Fuel taxes are no longer included in the
  total tax and contribution rate because of the difficulty of computing these
  taxes in a consistent way for all economies covered. The fuel tax amounts are
  in most cases very small, and measuring these amounts is often complicated
  because they depend on fuel consumption. Fuel taxes continue to be counted in
  the number of payments.
</p>
<p>
  The total tax and contribution rate is designed to provide a comprehensive
  measure of the cost of all the taxes a business bears. It differs from the
  statutory tax rate, which merely provides the factor to be applied to the tax
  base. In computing the total tax and contribution rate, the actual tax or
  contribution payable is divided by commercial proﬁt. Data for Iraq are
  provided as an example (table 1).
</p>
<p>
  <strong
    >Table 1 - Computing the Total Tax and Contribution Rate for Iraq</strong
  >
</p>
<p>
  <strong
    ><img
      src="https://www.doingbusiness.org/content/dam/doingBusiness/images/db-2020/PT_Table1_methodology.PNG"
  /></strong>
</p>
<p><em>Source: Doing Business</em> database</p>
<p>
  <em>Note: </em>Commercial profit is assumed to be 59.4 times income per
  capita. ID is Iraqi dinar.
</p>
<p>*Profit before all taxes borne</p>
<p>&nbsp;</p>
<p>
  Commercial proﬁt is essentially net proﬁt before all taxes and contributions
  borne. It differs from the conventional proﬁt before tax, reported in ﬁnancial
  statements. In computing proﬁt before tax, many of the taxes borne by a ﬁrm
  are deductible. In computing commercial proﬁt, these taxes are not deductible.
  Commercial proﬁt therefore presents a clear picture of the actual proﬁt of a
  business before any of the taxes it bears in the course of the ﬁscal year.
</p>
<p>
  Commercial proﬁt is computed as sales minus cost of goods sold, minus gross
  salaries, minus administrative expenses, minus other expenses, minus
  provisions, plus capital gains (from the property sale) minus interest
  expense, plus interest income and minus commercial depreciation. To compute
  the commercial depreciation, a straight-line depreciation method is applied,
  with the following rates: 0% for the land, 5% for the building, 10% for the
  machinery, 33% for the computers, 20% for the office equipment, 20% for the
  truck and 10% for business development expenses. Commercial proﬁt amounts to
  59.4 times income per capita.
</p>
<p>
  <strong
    >Table 2 - Computing the value of the VAT/GST input tax credit for
    Albania</strong
  >
</p>
<p>
  <em
    ><img
      src="https://www.doingbusiness.org/content/dam/doingBusiness/images/db-2020/PT_Table2_methodology.PNG"
  /></em>
</p>
<p><em>Source: Doing Business</em> database.</p>
<p><em>Note: </em>ALL is Albanian lek.</p>
<p>&nbsp;</p>
<p>
  <em>Doing Business </em>focuses on a case study for a standardized medium-
  size company.
</p>
<p><strong>Postfiling index</strong></p>
<p>
  The postﬁling index is based on four components—time to comply with VAT
  refund, time to obtain VAT refund, time to comply with a corporate income tax
  correction and time to complete a corporate income tax correction. If both VAT
  and corporate income tax apply, the postﬁling index is the simple average of
  the scores for each of the four components. If only VAT or corporate income
  tax applies, the postﬁling index is the simple average of the scores for only
  the two components pertaining to the appli- cable tax. If neither VAT nor
  corporate income tax applies, the postﬁling index is not included in the
  ranking of the ease of paying taxes.
</p>
<p>
  The four components include the time to comply with and complete a tax audit
  when applicable (see details below). The deﬁnition of a tax audit includes any
  interaction between the taxpayer and the tax authority post ﬁling of the tax
  return and payment of the tax liability due, including informal inquiries,
  formal inquiries and formal tax audits to verify whether such taxpayers have
  correctly assessed and reported their tax liability and fulﬁlled other
  obligations.
</p>
<p>The indicators are based on expanded case study assumptions.</p>
<p><strong>Assumptions about the VAT refund process</strong></p>
<ul>
  <li>
    In June 2018, TaxpayerCo. makes a large capital purchase: one additional
    machine for manufacturing pots.
  </li>
  <li>
    The value of the machine is 65 times income per capita of the economy.
  </li>
  <li>
    Sales are equally spread per month (that is, 1,050 times income per capita
    divided by 12).
  </li>
  <li>
    Cost of goods sold are equally expensed per month (that is, 875 times income
    per capita divided by 12).
  </li>
  <li>The seller of the machinery is registered for VAT.</li>
  <li>
    Excess input VAT incurred in June will be fully recovered after four
    consecutive months if the VAT rate is the same for inputs, sales and the
    machine and the tax reporting period is every month.
  </li>
  <li>Input VAT will exceed output VAT in June 2018 (table 3).</li>
</ul>
<p>
  <strong>Assumptions about the corporate income tax correction process</strong>
</p>
<ul>
  <li>
    An error in the calculation of the income tax liability (for example, use of
    incorrect tax depreciation rates, or incorrectly treating an expense as tax
    deductible) leads to an incorrect income tax return and consequently an
    underpayment of corporate income tax.
  </li>
  <li>
    TaxpayerCo. discovered the error and voluntarily notiﬁed the tax authority
    of the error in the corporate income tax return.
  </li>
  <li>
    The value of the underpaid income tax liability is 5% of the corporate
    income tax liability due.
  </li>
  <li>
    TaxpayerCo. submits the corrected information after the deadline for
    submitting the annual tax return, but within the tax assessment period.
  </li>
</ul>
<p><strong>Time to comply with VAT refund</strong></p>
<p>Time is recorded in hours. The indicator has two parts:&nbsp;</p>
<ul>
  <li>
    The process of claiming a VAT refund. Time includes: time spent by
    TaxpayerCo. on gathering VAT information from internal sources, including
    time spent on any additional analysis of accounting informa- tion and
    calculating the VAT refund amount; time spent by TaxpayerCo. on preparing
    the VAT refund claim; time spent by TaxpayerCo. preparing any additional
    documents that are needed to substantiate the claim for the VAT refund; time
    spent submitting the VAT refund claim and additional documents if that
    submission is done separately from the submission of the standard VAT
    return; time spent making representation at the tax office if required; and
    time spent by TaxpayerCo. completing any other mandatory activities or tasks
    associated with the VAT refund (table 3).
  </li>
  <li>
    The process of a VAT audit. This is captured if companies with a request for
    a VAT cash refund due to a capital purchase are pooled into additional
    review in 50% or more of cases. Time includes: time spent by TaxpayerCo. on
    gathering information and preparing any documentation (information such as
    receipts, ﬁnancial statements, pay stubs) as required by the tax auditor;
    time spent by TaxpayerCo. on submitting the documents requested by the
    auditor.
  </li>
</ul>
<p>
  A total estimate of zero hours is recorded if the process of claiming a VAT
  refund is done automatically within the standard VAT return without the need
  to complete any additional section or part of the return, no additional
  documents or tasks are required as a result of the input tax credit and, in
  50% or more of similar cases, the company is not subjected to an audit.
</p>
<p>
  An estimate of half an hour is recorded for submission of documents if the
  submission is done electronically and is a matter of minutes. An estimate of
  zero hours is recorded in the case of a ﬁeld audit if documents are submitted
  in person and at the taxpayer’s premises.
</p>
<p>
  In Kosovo, for example, taxpayers spend 27 hours complying with the process of
  claiming a VAT refund. Taxpayers request the VAT refund in the standard VAT
  return. Taxpayers spend two hours gathering information from internal sources
  and accounting records to calculate the amount of the VAT refund. There is no
  additional time for preparing the refund claim because taxpayers indicate in
  the online VAT return that they want the outstanding VAT balance to be
  refunded. Taxpayers must also prepare and have available for review all
  purchase and sales invoices for the past three months, a business explanation
  of VAT overpayment for large purchases or investments, bank statements, any
  missing tax declaration and a copy of ﬁscal and VAT certiﬁcates. Taxpayers
  spend four hours preparing these additional documents. These documents are
  submitted electronically at the same time as the submission of the VAT return.
  Taxpayers must also appear in person at the tax office to explain the VAT
  refund claim and the reasons for the excess input VAT in the month of June.
  This takes three hours. Additionally, the claim for a VAT refund would trigger
  a full audit at the tax office. Taxpayers spend 16 hours preparing the
  documents requested by the auditor including purchase and sales invoices,
  bills, bank transactions, records on accounting software, tax returns and
  contracts. Taxpayers submit the documents to the auditor in person at the tax
  office (two hours for submission).
</p>
<p><strong>Time to obtain VAT refund</strong></p>
<p>
  Time is recorded in weeks. Time measures the total waiting time to receive a
  VAT refund from the moment the request has been submitted. If companies with a
  request for a VAT cash refund due to a capital purchase are pooled into
  additional review in 50% or more of cases, time includes time to start the
  audit from the moment of claiming the VAT refund, time spent by TaxpayerCo.
  interacting with the auditor from the moment an audit begins until there are
  no further interactions between TaxpayerCo. and the auditor (including the
  various rounds of interactions between TaxpayerCo. and the auditor), time
  spent waiting for the tax auditor to issue the ﬁnal audit decision from the
  moment TaxpayerCo. has submitted all relevant information and documents and
  there are no further interactions between TaxpayerCo. and the auditor and time
  spent waiting for the release of the VAT refund payment from the moment the
  ﬁnal audit decision has been issued by the auditor.
</p>
<p>
  Time also includes an average waiting time to submit the refund claim. The
  average waiting time to submit the refund claim is half a month if the VAT
  refund claim is ﬁled monthly. The average waiting time to submit the refund
  claim is one month if the VAT refund claim is ﬁled bimonthly. The average
  waiting time to submit the refund claim is one and a half months if the VAT
  refund claim is ﬁled quarterly. The average waiting time to submit the refund
  claim is three months if the VAT refund claim is ﬁled semi-annually. The
  average waiting time to submit the refund claim is six months if the VAT
  refund claim is ﬁled annually.
</p>
<p>
  Time includes the mandatory carry forward time before a VAT refund in cash can
  be paid. The carry forward time is zero if there is no mandatory carry forward
  period.
</p>
<p>
  In Albania, for example, it takes 37 weeks to receive a VAT refund. The
  request for a VAT refund triggers an audit by the tax authorities. It takes
  four weeks for the tax authority to start the audit. Taxpayers spend 8.6 weeks
  interacting with the auditor and wait four weeks until the ﬁnal assessment is
  issued. Taxpayers only receive the VAT refund after the audit is completed.
  Taxpayers wait ﬁve weeks for the release of the VAT refund payment. In Albania
  the taxpayers must carry forward the VAT refund for three consecutive VAT
  accounting periods (three months in the case of Albania) before a refund in
  cash is requested. The three months (13 weeks) carry forward period is
  included in the total time to receive a VAT refund. The VAT return is ﬁled
  monthly and thus 0.5 month (2.1 weeks) is included in the total time to
  receive a VAT refund.
</p>
<p>
  If an economy does not have a VAT, the economy will not be scored on the two
  indicators for a VAT refund process— time to comply with VAT refund and time
  to obtain VAT refund. This is the case in Bahrain. If an economy has a VAT and
  the purchase of a machine is not subject to VAT, the economy will not be
  scored on time to comply with VAT refund and time to obtain VAT refund. This
  is the case in Sierra Leone. If an economy has a VAT that was introduced in
  calendar year 2018 and there is not sufficient data to assess the refund
  process, the economy will not be scored on time to comply with VAT refund and
  time to obtain VAT refund.
</p>
<p>
  If an economy has a VAT but the ability to claim a refund is restricted to
  speciﬁc categories of taxpayers that do not include the case study company,
  the economy is assigned a score of 0 for time to comply with VAT refund and
  time to obtain VAT refund. In Bolivia, for example, only exporters are
  eligible to request a VAT refund. As a result, Bolivia receives a score of 0
  for time to comply with VAT refund and time to obtain VAT refund. If an
  economy has a VAT and the case study company is eligible to claim a refund but
  cash refunds do not occur in practice, the economy is assigned a score of 0
  for time to comply with VAT refund and time to obtain VAT refund. This is the
  case in the Central African Republic. If an economy has a VAT but there is no
  refund mechanism in place, the economy is assigned a score of 0 for time to
  comply with VAT refund and time to obtain VAT refund. This is the case in
  Sudan. If an economy has a VAT but input tax on a capital purchase is a cost
  on the business, the economy is scored 0 for time to comply with VAT refund
  and time to obtain VAT refund. This is the case in Myanmar.
</p>
<p><strong>Time to comply with a corporate income tax correction</strong></p>
<p>Time is recorded in hours. The indicator has two parts:</p>
<ul>
  <li>
    The process of notifying the tax authorities of the error, amending the
    return and making additional payment. Time includes: time spent by
    TaxpayerCo. gathering information and preparing the documents required to
    notify the tax authorities; time spent by TaxpayerCo. in submitting the
    documents; and time spent by TaxpayerCo. in making the additional tax
    payment if the payment is done separately from the submission of the amended
    corporate income tax return.
  </li>
  <li>
    The process of complying with a corporate income tax correction. This is
    captured if, in 25% or more of cases, the pool of companies that were
    exposed to additional review included companies that self-reported an error
    in the corporate income tax return, which resulted in their owing more in
    corporate income tax because of underpayment. The threshold used for
    assessing the corporate income tax audit is lower than the threshold used in
    the case of the VAT cash refund. This is because the case study scenario of
    self-reporting an error in the corporate income tax return and resulting in
    an underpayment of the tax liability should only be an issue among a small
    sample of companies selected for a tax audit. Unlike a corporate income tax
    correction, it is common that a one-time request for a VAT cash refund be
    exposed to a tax audit. Time includes time spent by TaxpayerCo. gathering
    information and preparing any documentation (information such as receipts,
    ﬁnancial statements, pay stubs) as required by the tax auditor, and time
    spent by TaxpayerCo. submitting the documents requested by the auditor.
  </li>
</ul>
<p>
  An estimate of half an hour is recorded for submission of documents or payment
  of the income tax liability due if the submission or payment is done
  electronically in several minutes. An estimate of zero hours is recorded in
  the case of a ﬁeld audit if documents are submitted in person and at the
  taxpayer’s premises.
</p>
<p>
  In the Slovak Republic, for example, taxpayers would submit an amended
  corporate income tax return electronically. It takes taxpayers one hour to
  correct the error in the return, half an hour to submit the amended return
  online and half an hour to make the additional payment online. Amending a
  corporate income tax return per the case study scenario in the Slovak Republic
  would not be subject to additional review. This brings the total compliance
  time to two hours.
</p>
<p><strong>Time to complete a corporate income tax correction</strong></p>
<p>
  Time is recorded in weeks. Time includes the time to start an audit from the
  moment the tax authority has been notiﬁed of the error in the corporate income
  tax return, time spent by TaxpayerCo. interacting with the auditor from the
  moment an audit begins until there are no further interactions between
  TaxpayerCo. and the auditor (including the various rounds of interactions
  between TaxpayerCo. and the auditor), and time spent waiting for the tax
  auditor to issue the ﬁnal tax assessment from the moment TaxpayerCo. has
  submitted all relevant information and documents and there are no further
  interactions between TaxpayerCo. and the auditor.
</p>
<p>
  Time to complete a corporate income tax correction is recorded as zero if less
  than 25% of companies will not go through an additional review.
</p>
<p>
  In Switzerland, for example, taxpayers with an amended corporate income tax
  return per the case study scenario are subject to a single-issue audit
  conducted at the taxpayer’s premises. Taxpayers wait 30 days (4.28 weeks)
  until the tax authority starts the audit and interact for a total of four days
  (0.57 weeks) with the auditor and wait for four weeks until the ﬁnal
  assessment is issued by the auditor, resulting in a total of 8.86 weeks to
  complete a corporate income tax correction.
</p>
<p>
  If an economy does not levy corporate income tax, the economy will not be
  scored on the two indicators: time to comply with a corporate income tax
  correction and time to complete a corporate income tax correction. This is the
  case in Vanuatu.
</p>
<p>
  An economy receives a “no practice” mark on the payments, time, total tax and
  contribution rate and postﬁling index indicators if the economy does not levy
  any taxes or mandatory contributions.
</p>
<p><strong>Reforms</strong></p>
<p>
  The paying taxes indicator set tracks changes related to the different taxes
  and mandatory contributions that a medium-size company must pay in a given
  year, the administrative burden of paying taxes and contributions and the
  administrative burden of complying with two postﬁling processes (VAT refund,
  and tax audit) per calendar year. Depending on the impact on the data, certain
  changes are classiﬁed as reforms and listed in the summaries of
  <em>Doing Business </em>reforms in order to acknowledge the implementation of
  signiﬁcant changes. Reforms are divided into two types: those that make it
  easier to do business and those changes that make it more difficult to do
  business. The paying taxes indicator set uses one criterion to recognize a
  reform.
</p>
<p>
  The impact of data changes is assessed based on the absolute change in the
  overall score of the indicator set as well as the change in the relative score
  gap. Any data update that leads to a change of 0.5 points or more in the score
  and 2% or more on the relative score gap is classiﬁed as a reform, except when
  the change is the result of automatic official fee indexation to a price or
  wage index (for more details, see the chapter on the ease of doing business
  score and ease of doing business ranking). For example, if the implementation
  of a new electronic system for ﬁling or paying one of the three major taxes
  (corporate income tax, VAT and labor taxes including mandatory contributions)
  reduces time or the number of payments in a way that the score increases by
  0.5 points or more and the overall gap decreases by 2% or more, the change is
  classiﬁed as a reform. Minor updates to tax rates or ﬁxed charges or other
  smaller changes in the indicators that have an aggregate impact of less than
  0.5 points on the overall score or 2% on the gap are not classiﬁed as a
  reform, but the data are updated accordingly.
</p>
<p>
  When an economy introduces a value added tax or sales tax, the reform is
  classified as a neutral reform even though this type of reform increases the
  administrative burden on firms.
</p>
<p><em>This methodology was developed by Djankov and others (2010).</em></p>
<p>
  <strong>Source: </strong
  ><a
    href="https://www.doingbusiness.org/en/methodology/paying-taxes"
    rel="noopener noreferrer"
    target="_blank"
    ><em>doingbusiness.org</em></a
  >
</p>
