<h2><strong>Starting a Business methodology</strong></h2>
<p>
  <strong
    >Figure 1 - What are the time, cost, paid-in minimum capital and number of
    procedures to get a local limited liability company up and running?</strong
  >
</p>
<p>
  <img
    src="https://www.doingbusiness.org/content/dam/doingBusiness/images/db-2020/SB_Graph1_What_does_it_measure.PNG"
  />
</p>
<p><em>Source: Doing Business </em>database</p>
<p>
  <em>Doing Business </em>records all procedures officially required, or
  commonly done in practice, for an entrepreneur to start up and formally
  operate an industrial or commercial business, as well as the time and cost to
  complete these procedures and the paid-in minimum capital requirement (figure
  1). These procedures include the processes entrepreneurs undergo when
  obtaining all necessary approvals, licenses, permits and completing any
  required notifications, verifications or inscriptions for the company and
  employees with relevant authorities. The ranking of economies on the ease of
  starting a business is determined by sorting their scores for starting a
  business. These scores are the simple average of the scores for each of the
  component indicators.
</p>
<p>
  Two types of local limited liability companies are considered under the
  starting a business methodology. They are identical in all aspects, except
  that one company is owned by five married women and other by five married men.
  The score for each indicator is the average of the scores obtained for each of
  the component indicators for both of these standardized companies.
</p>
<p>
  After a study of laws, regulations and publicly available information on
  business entry, a detailed list of procedures is developed, along with the
  time and cost to comply with each procedure under normal circumstances and the
  paid-in minimum capital requirement. Subsequently, local incorporation
  lawyers, notaries and government officials review and verify the data.
</p>
<p>
  Information is also collected on the sequence in which procedures are to be
  completed and whether procedures may be carried out simultaneously. It is
  assumed that any required information is readily available and that the
  entrepreneur will pay no bribes. If answers by local experts differ, inquiries
  continue until the data are reconciled.
</p>
<p>
  To make the data comparable across economies, several assumptions about the
  businesses and the procedures are used.
</p>
<p><strong>Assumptions about the business</strong></p>
<p><strong>The business:</strong></p>
<ul>
  <li>
    Is a limited liability company (or its legal equivalent). If there is more
    than one type of limited liability company in the economy, the limited
    liability form most common among domestic firms is chosen. Information on
    the most common form is obtained from incorporation lawyers or the
    statistical office.
  </li>
  <li>
    Operates in the economy’s largest business city. For 11 economies the data
    are also collected for the second largest business city.
  </li>
  <li>
    Performs general industrial or commercial activities, such as the production
    or sale to the public of goods or services. The business does not perform
    foreign trade activities and does not handle products subject to a special
    tax regime, for example, liquor or tobacco. It is not using heavily
    polluting production processes.
  </li>
  <li>Does not qualify for investment incentives or any special benefits.</li>
  <li>Is 100% domestically owned</li>
  <li>
    Has five business owners, none of whom is a legal entity. One business owner
    holds 30% of the company shares, two owners have 20% of shares each, and two
    owners have 15% of shares each.
  </li>
  <li>Is managed by one local director.</li>
  <li>
    Has between 10 and 50 employees one month after the commencement of
    operations, all of them domestic nationals.
  </li>
  <li>Has start-up capital of 10 times income per capita.</li>
  <li>Has an estimated turnover of at least 100 times income per capita.</li>
  <li>
    Leases the commercial plant or offices and is not a proprietor of real
    estate.
  </li>
  <li>
    Has an annual lease for the office space equivalent to one income per
    capita.
  </li>
  <li>
    Is in an office space of approximately 929 square meters (10,000 square
    feet).
  </li>
  <li>Has a company deed that is 10 pages long.</li>
</ul>
<p><strong>The owners:</strong></p>
<ul>
  <li>
    Have reached the legal age of majority and are capable of making decisions
    as an adult. If there is no legal age of majority, they are assumed to be 30
    years old.
  </li>
  <li>Are sane, competent, in good health and have no criminal record.</li>
  <li>
    Are married, the marriage is monogamous and registered with the authorities.
  </li>
  <li>
    Where the answer differs according to the legal system applicable to the
    woman or man in question (as may be the case in economies where there is
    legal plurality), the answer used will be the one that applies to the
    majority of the population.
  </li>
</ul>
<p><strong>Procedures</strong></p>
<p>
  A procedure is deﬁned as any interaction of the company founders with external
  parties (for example, government agencies, lawyers, auditors or notaries) or
  spouses (if legally required). Interactions between company founders or
  company officers and employees are not counted as procedures. Procedures that
  must be completed in the same building but in different offices or at
  different counters are counted as separate procedures. If founders have to
  visit the same office several times for different sequential procedures, each
  is counted separately. The founders are assumed to complete all procedures
  themselves, without middlemen, facilitators, accountants or lawyers, unless
  the use of such a third party is mandated by law or solicited by the majority
  of entrepreneurs. If the services of professionals are required, procedures
  conducted by such professionals on behalf of the company are counted as
  separate procedures. Each electronic procedure is counted as a separate
  procedure. Approvals from spouses to own a business or leave the home are
  considered procedures if required by law or if by failing to obtain such
  approval the spouse will suffer consequences under the law, such as the loss
  of right to ﬁnancial maintenance. Obtaining permissions only required by one
  gender for company registration and operation, or getting additional documents
  only required by one gender for a national identiﬁcation card are considered
  additional procedures. In that case, only procedures required for one spouse
  but not the other are counted. Both pre- and post-incorporation procedures
  that are officially required or commonly done in practice for an entrepreneur
  to formally operate a business are recorded.
</p>
<p>
  Procedures required for official correspondence or transactions with public
  agencies are also included. For example, if a company seal or stamp is
  required on official documents, such as tax declarations, obtaining the seal
  or stamp is counted. Similarly, if a company must open a bank account in order
  to complete any subsequent procedure—such as registering for value added tax
  or showing proof of minimum capital deposit—this transaction is included as a
  procedure. Shortcuts are counted only if they fulfill four criteria: they are
  legal, they are available to the general public, they are used by the majority
  of companies, and avoiding them causes delays.
</p>
<p>
  Only procedures required for all businesses are included. Industry-specific
  procedures are excluded. For example, procedures to comply with environmental
  regulations are included only when they apply to all businesses conducting
  general commercial or industrial activities. Procedures that the company
  undergoes to connect to electricity, water, gas and waste disposal services
  are not included in the starting a business indicator.
</p>
<p><strong>Time</strong></p>
<p>
  Time is recorded in calendar days. The measure captures the median duration
  that incorporation lawyers or notaries indicate is necessary in practice to
  complete a procedure with minimum follow-up with government agencies and no
  unofficial payments. It is assumed that the minimum time required for each
  procedure is one day, except for procedures that can be fully completed
  online, for which the minimum time required is recorded as half a day.
  Although procedures may take place simultaneously, they cannot start on the
  same day (that is, simultaneous procedures start on consecutive days). A
  registration process is considered completed once the company has received the
  ﬁnal incorporation document or can officially commence business operations. If
  a procedure can be accelerated legally for an additional cost, the fastest
  procedure is chosen if that option is more beneﬁcial to the economy’s score.
  When obtaining a spouse’s approval, it is assumed that permission is granted
  at no additional cost unless the permission needs to be notarized. It is
  assumed that the entrepreneur does not waste time and commits to completing
  each remaining procedure without delay. The time spent by the entrepreneur
  preparing information to fill in forms is not measured. It is assumed that the
  entrepreneur is aware of all entry requirements and their sequence from the
  beginning but has had no prior contact with any of the officials
  involved.&nbsp;
</p>
<p><strong>Cost</strong></p>
<p>
  Cost is recorded as a percentage of the economy’s income per capita. It
  includes all official fees and fees for legal or professional services if such
  services are required by law or commonly used in practice. Fees for purchasing
  and legalizing company books are included if these transactions are required
  by law. Although value added tax registration can be counted as a separate
  procedure, value added tax is not part of the incorporation cost. The company
  law, the commercial code and specific regulations and fee schedules are used
  as sources for calculating costs. In the absence of fee schedules, a
  government officer’s estimate is taken as an official source. In the absence
  of a government officer’s estimate, estimates by incorporation experts are
  used. If several incorporation experts provide different estimates, the median
  reported value is applied. In all cases the cost excludes bribes.
</p>
<p><strong>Paid-in minimum capital</strong></p>
<p>
  The paid-in minimum capital requirement reﬂects the amount that the
  entrepreneur needs to deposit in a bank or with a third-party (for example, a
  notary) before registration or up to three months after incorporation and it
  is recorded as a percentage of the economy’s income per capita. The amount is
  typically speciﬁed in the commercial code or the company law. The legal
  provision needs to be adopted, enforced and fully implemented. Any legal
  limitation of the company’s operations or decisions related to the payment of
  the minimum capital requirement is recorded. In case the legal minimum capital
  is provided per share, it is multiplied by the number of shareholders owning
  the company. Many economies require minimum capital but allow businesses to
  pay only a part of it before registration, with the rest to be paid after the
  ﬁrst year of operation. In El Salvador in May 2019, for example, the minimum
  capital requirement was $2,000, of which 5% needed to be paid before
  registration. Therefore, the paid-in minimum capital recorded for El Salvador
  is $100, or 2.6% of income per capita.
</p>
<p><strong>Reforms</strong></p>
<p>
  The starting a business indicator sets track changes related to the ease of
  incorporating and operating a limited liability company every year. Depending
  on the impact on the data, certain changes are classiﬁed as reforms and listed
  in the
  <a
    href="https://www.doingbusiness.org/en/reforms"
    rel="noopener noreferrer"
    target="_blank"
    >summaries of <em>Doing Business</em> reforms</a
  >
  in order to acknowledge the implementation of signiﬁcant changes. Reforms are
  divided into two types: those that make it easier to do business and those
  changes that make it more difficult to do business. The starting a business
  indicator set uses one criterion to recognize a reform.
</p>
<p>
  The impact of data changes is assessed based on the absolute change in the
  overall score of the indicator set as well as the change in the relative score
  gap. Any data update that leads to a change of 0.5 points or more in the score
  and 2% or more on the relative score gap is classiﬁed as a reform, except when
  the change is the result of automatic official fee indexation to a price or
  wage index (for more details, see the chapter on the ease of doing business
  score and ease of doing business ranking). For example, if the implementation
  of a new one-stop shop for company registration reduces time and procedures in
  a way that the score increases by 0.5 points or more and the overall gap
  decreases by 2% or more, the change is classiﬁed as a reform. Minor fee
  updates or other small changes in the indicators that have an aggregate impact
  of less than 0.5 points on the overall score or 2% on the gap are not
  classiﬁed as a reform, but the data are updated accordingly.
</p>
<p>
  <em
    >This methodology was developed by Djankov and others (2002) and is adopted
    here with minor changes.</em
  >
</p>
<p>
  <strong>Source:</strong>
  <a
    href="https://www.doingbusiness.org/en/methodology/starting-a-business"
    rel="noopener noreferrer"
    target="_blank"
    ><em>doingbusiness.org</em></a
  >
</p>
