<h2><strong>Trading across Borders methodology</strong></h2>
<p>
  Figure 1. What makes up the time and cost to export to an overseas trading
  partner?
</p>
<p>
  <em
    ><img
      src="https://www.doingbusiness.org/content/dam/doingBusiness/images/db-2020/TAB---Figure-1.PNG"
  /></em>
</p>
<p><em>Source: Doing Business</em> database.</p>
<p>
  Figure 2. What makes up the time and cost to export to a regional trading
  partner?
</p>
<p>
  <em
    ><img
      src="https://www.doingbusiness.org/content/dam/doingBusiness/images/db-2020/TAB---Figure-2.PNG"
  /></em>
</p>
<p><em>Source: Doing Business</em> database.</p>
<p>
  <em>Doing Business </em>records the time and cost associated with the
  logistical process of exporting and importing goods.
  <em>Doing Business </em>measures the time and cost (excluding tariffs)
  associated with three sets of procedures—documentary compliance, border
  compliance and domestic transport—within the overall process of exporting or
  importing a shipment of goods. Figure 1, using the example of Brazil (as
  exporter) and China (as importer), shows the process of exporting a shipment
  from a warehouse in the origin economy to a warehouse in an overseas trading
  partner through a port. Figure 2, using the example of Kenya (as exporter) and
  Uganda (as importer), shows the process of exporting a shipment from a
  warehouse in the origin economy to a warehouse in a regional trading partner
  through a land border. The ranking of economies on the ease of trading across
  borders is determined by sorting their scores for trading across borders.
  These scores are the simple average of the scores for the time and cost for
  documentary compli­ance and border compliance to export and import.
</p>
<p>
  Although <em>Doing Business </em>collects and publishes data on the time and
  cost for domestic transport, it does not use these data in calculating the
  score for trading across borders or the ranking on the ease of trading across
  borders. The main reason for this is that the time and cost for domestic
  transport are affected by many external factors—such as the geography and
  topography of the transit territory, road capacity and general infrastructure,
  proximity to the nearest port or border, and the location of warehouses where
  the traded goods are stored—and so are not directly influenced by an economy’s
  trade policies and reforms.
</p>
<p>
  The data on trading across borders are gathered through a questionnaire
  administered to local freight forwarders, customs brokers, port authorities
  and traders.
</p>
<p>
  If government restrictions, armed conflict, or a natural disaster result in an
  economy’s having no formal, large-scale, private sector cross-border trade,
  that economy is considered a “no practice” economy. A “no practice” economy
  receives a score of 0 for all the trading across borders indicators.&nbsp;
</p>
<p>Assumptions of the case study</p>
<p>
  To make the data comparable across economies, several assumptions are made
  about the traded goods and the transactions:
</p>
<ul>
  <li>
    For each of the 190 economies covered by <em>Doing Business</em>, it is
    assumed that a shipment is located in a warehouse in the largest business
    city of the exporting economy and travels to a warehouse in the largest
    business city of the importing economy. For 11 economies the data are also
    collected, under the same case study assumption, for the second largest
    business city.
  </li>
  <li>
    The import and export case studies assume different traded products. It is
    assumed that each economy imports a standardized shipment of 15 metric tons
    of containerized auto parts (HS 8708) from its natural import partner—the
    economy from which it imports the largest value (price times quantity) of
    auto parts. It is assumed that each economy exports the product of its
    comparative advantage (defined by the largest export value) to its natural
    export partner—the economy that is the largest purchaser of this product.
    Precious metal and gems, mineral fuels, oil products, live animals, residues
    and waste of foods and products as well as pharmaceu­ticals are excluded
    from the list of possible export products, however, and in these cases the
    second largest product category is considered as needed.
  </li>
  <li>
    A shipment is a unit of trade. Export shipments do not necessarily need to
    be containerized, while import ship­ments of auto parts are assumed to be
    containerized.
  </li>
  <li>
    If fees are determined by the value of the shipment, the value is assumed to
    be $50,000.
  </li>
  <li>The product is new, not secondhand or used merchandise.</li>
  <li>
    The exporting/importing firm hires and pays for a freight forwarder or
    customs broker (or both) and pays for all costs related to domestic
    transport, clearance and mandatory inspections by customs and other
    agencies, port or border handling, documentary compliance fees and the like.
  </li>
  <li>
    The mode of transport is the one most widely used for the chosen export or
    import product and the trading partner, as is the seaport or land border
    crossing.
  </li>
  <li>
    All electronic submissions of informa­tion requested by any government
    agency in connection with the shipment are considered to be documents
    obtained, prepared and submitted during the export or import process.
  </li>
  <li>
    A port or border is defined as a place (seaport or land border crossing)
    where merchandise can enter or leave an economy.
  </li>
  <li>
    Government agencies considered relevant are agencies such as customs, port
    authorities, road police, border guards, standardization agen­cies,
    ministries or departments of agriculture or industry, national secu­rity
    agencies, central banks and any other government authorities.
  </li>
</ul>
<p>Time</p>
<p>
  Time is measured in hours, and 1 day is 24 hours (for example, 22 days are
  recorded as 22 × 24 = 528 hours). If customs clearance takes 7.5 hours, the
  data are recorded as is. Alternatively, suppose that documents are submitted
  to a customs agency at 8:00 a.m., are processed overnight and can be picked up
  at 8:00 a.m. the next day. In this case the time for customs clearance would
  be recorded as 24 hours because the actual procedure took 24 hours.
</p>
<p>Cost</p>
<p>
  Insurance cost and informal payments for which no receipt is issued are
  excluded from the costs recorded. Costs are reported in U.S. dollars.
  Contributors are asked to convert local currency into U.S. dollars based on
  the exchange rate prevailing on the day they answer the questionnaire.
  Contributors are private sector experts in international trade logis­tics and
  are informed about exchange rates and their movements.
</p>
<p>Documentary compliance</p>
<p>
  Documentary compliance captures the time and cost associated with compli­ance
  with the documentary requirements of all government agencies of the origin
  economy, the destination economy and any transit economies. The aim is to
  measure the total burden of preparing the bundle of documents that will enable
  completion of the interna­tional trade for the product and partner pair
  assumed in the case study. As a ship­ment moves from Mumbai to New York City,
  for example, the freight forwarder must prepare and submit documents to the
  customs agency in India, to the port authorities in Mumbai and to the customs
  agency in the United States.
</p>
<p>
  The time and cost for documentary compliance include the time and cost for
  obtaining documents (such as time spent to get the document issued and
  stamped); preparing documents (such as time spent gathering information to
  complete the customs declaration or certificate of origin); processing
  docu­ments (such as time spent waiting for the relevant authority to issue a
  phytosanitary certificate); presenting documents (such as time spent showing a
  port terminal receipt to port authori­ties); and submitting documents (such as
  time spent submitting a customs declaration to the customs agency in person or
  electronically).
</p>
<p>
  All electronic or paper submissions of information requested by any
  govern­ment agency in connection with the shipment are considered to be
  docu­ments obtained, prepared and submitted during the export or import
  process. All documents prepared by the freight forwarder or customs broker for
  the product and partner pair assumed in the case study are included regardless
  of whether they are required by law or in practice. Any documents prepared and
  submitted so as to get access to preferential treatment—for example, a
  certificate of origin—are included in the calculation of the time and cost for
  docu­mentary compliance. Any documents prepared and submitted because of a
  perception that they ease the passage of the shipment are also included (for
  example, freight forwarders may prepare a packing list because in their
  experience this reduces the probability of physical or other intrusive
  inspections).
</p>
<p>
  In addition, any documents that are mandatory for exporting or importing are
  included in the calculation of time and cost. Documents that need to be
  obtained only once are not counted, however. And <em>Doing Business </em>does
  not include documents needed to produce and sell in the domestic market—such
  as certificates of third-party safety stan­dards testing that may be required
  to sell toys domestically—unless a government agency needs to see these
  documents during the export process.
</p>
<p><strong>Border compliance</strong></p>
<p>
  Border compliance captures the time and cost associated with compliance with
  the economy’s customs regulations and with regulations relating to other
  inspec­tions that are mandatory in order for the shipment to cross the
  economy’s border, as well as the time and cost for handling that takes place
  at its port or border. The time and cost for this segment include time and
  cost for customs clearance and inspection procedures conducted by other
  agencies. For example, the time and cost for conducting a phytosanitary
  inspection would be included here.
</p>
<p>
  The computation of border compli­ance time and cost depends on where the
  border compliance procedures take place, who requires and conducts the
  procedures and what is the probability that inspections will be conducted. If
  all customs clearance and other inspections take place at the port or border
  at the same time, the time estimate for border compliance takes this
  simultaneity into account. It is entirely possible that the border compliance
  time and cost could be negligible or zero, as in the case of trade between
  members of the European Union or other customs unions.
</p>
<p>
  If some or all customs or other inspec­tions take place at other locations,
  the time and cost for these procedures are added to the time and cost for
  those that take place at the port or border. In Kazakhstan, for example, all
  customs clearance and inspections take place at a customs post in Almaty that
  is not at the land border between Kazakhstan and China. In this case border
  compliance time is the sum of the time spent at the terminal in Almaty and the
  handling time at the border.
</p>
<p>
  <em>Doing Business </em>asks contributors to esti­mate the time and cost for
  clearance and inspections by customs agencies— defined as documentary and
  physical inspections for the purpose of calculating duties by verifying
  product classification, confirming quantity, determining origin and checking
  the veracity of other infor­mation on the customs declaration. (This category
  includes all inspections aimed at preventing smuggling.) These are clearance
  and inspection procedures that take place in the majority of cases and thus
  are considered the “standard” case. The time and cost estimates capture the
  efficiency of the customs agency of the economy.
</p>
<p>
  <em>Doing Business </em>also asks contributors to estimate the total time and
  cost for clearance and inspections by customs and all other agencies for the
  specified product. These estimates account for inspections related to health,
  safety, phytosanitary standards, conformity and the like, and thus capture the
  efficiency of agencies that require and conduct these additional inspections.
</p>
<p>
  If inspections by agencies other than customs are conducted in 20% or fewer
  cases, the border compliance time and cost measures take into account only
  clearance and inspections by customs (the standard case). If inspections by
  other agencies take place in more than 20% of cases, the time and cost
  measures account for clearance and inspections by all agencies. Different
  types of inspec­tions may take place with different probabilities—for example,
  scanning may take place in 100% of cases while phys­ical inspection occurs in
  5% of cases. In situations like this, <em>Doing Business </em>would count the
  time only for scanning because it happens in more than 20% of cases while
  physical inspection does not. The border compliance time and cost for an
  economy do not include the time and cost for compliance with the regulations
  of any other economy.
</p>
<p><strong>Domestic transport</strong></p>
<p>
  Domestic transport captures the time and cost associated with transporting the
  shipment from a warehouse in the largest business city of the economy to the
  most widely used seaport or land border of the economy. For 11 economies the
  data are also collected for the second largest business city. This set of
  procedures captures the time for (and cost of) the actual transport; any
  traffic delays and road police checks; as well as time spent on loading or
  unloading at the warehouse or border. For a coastal economy with an overseas
  trading partner, domestic transport captures the time and cost from the
  loading of the shipment at the warehouse until the ship­ment reaches the
  economy’s port (figure 1). For an economy trading through a land border,
  domestic transport captures the time and cost from the loading of the shipment
  at the warehouse until the ship­ment reaches the economy’s land border (figure
  2).
</p>
<p>
  The time and cost estimates are based on the most widely used mode of
  trans­port (truck, train) and the most widely used route (road, border posts)
  as reported by contributors. The time and cost estimates are based on the mode
  and route chosen by the majority of contributors. For the 11 economies for
  which data are collected for both the largest and the second largest business
  city, <em>Doing Business </em>allows the most widely used route and the most
  widely used mode of transport to be different for the two cities. For example,
  ship­ments from Delhi are transported by train to Mundra port for export,
  while shipments from Mumbai travel by truck to Nhava Sheva port to be
  exported.
</p>
<p>
  In the export case study, as noted, <em>Doing Business </em>does not assume a
  containerized shipment, and time and cost estimates may be based on the
  transport of 15 tons of non containerized products. In the import case study
  auto parts are assumed to be containerized. In the cases where cargo is
  containerized, the time and cost for transport and other procedures are based
  on a ship­ment consisting of homogeneous cargo belonging to a single
  Harmonized System (HS) classification code. This assumption is particularly
  important for inspections, because shipments of homogeneous products are often
  subject to fewer and shorter inspections than shipments of products belonging
  to various HS codes.
</p>
<p>
  In some cases, the shipment travels from the warehouse to a customs post or
  terminal for clearance or inspections and then travels onward to the port or
  border. In these cases, the domestic transport time is the sum of the time for
  both transport segments. The time and cost for clearance or inspections are
  included in the measures for border compliance, however, not in those for
  domestic transport.
</p>
<p><strong>Reforms</strong></p>
<p>
  The trading across borders indicator set records the time and cost associated
  with the logistical process of exporting and importing goods every year.
  Depending on the impact on the data, certain changes are classified as reforms
  and listed in the summaries of <em>Doing Business </em>reforms in order to
  acknowledge the implementation of significant changes. Reforms are divided
  into two types: those that make it easier to do business and those changes
  that make it more difficult to do business. The trading across borders
  indicator set uses a standard criterion to recognize a reform.
</p>
<p>
  The impact of data changes is assessed based on the absolute change in the
  overall score of the indicator set as well as the change in the relative score
  gap. Any data update that leads to a change of 0.5 points or more in the score
  and 2% or more on the relative score gap is classiﬁed as a reform, except when
  the change is the result of automatic official fee indexation to a price or
  wage index (for more details, see the chapter on the ease of doing business
  score and ease of doing business ranking). For example, if the implementation
  of a single window system reduces time and procedures in a way that the score
  increases by 0.5 points or more and the overall gap decreases by 2% or more,
  the change is classiﬁed as a reform. Minor fee updates or other small changes
  in the indicators that have an aggregate impact of less than 0.5 points on the
  overall score or 2% on the gap are not classiﬁed as a reform, but the data are
  updated accordingly.
</p>
<p>
  <em
    >This methodology was initially developed by Djankov and others (2010) and
    was revised in 2015.</em
  >
</p>
<p><strong>--------------------</strong></p>
<p>
  1 To identify the trading partners and export product for each economy,
  <em>Doing Business </em>collected data on trade flows for the most recent
  four-year period from international databases such as the United Nations
  Commodity Trade Statistics Database (UN Comtrade). For economies for which
  trade flow data were not available, data from ancillary government sources
  (various ministries and departments) and World Bank Group country offices were
  used to identify the export product and natural trading partners.
</p>
<p>
  <strong>Source:&nbsp;</strong
  ><a
    href="https://www.doingbusiness.org/en/methodology/trading-across-borders"
    rel="noopener noreferrer"
    target="_blank"
    >doingbusiness.org</a
  >
</p>
